<a href="https://colab.research.google.com/github/kunishou/Polars_100_knocks/blob/main/01_Polars_100_Knocks_for_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 初学者向けPolars100本ノックver1.0.1
##### Shift + Enter で各セルのコードが実行されます
・print(ans[ 問題番号 ]) で回答コード例を表示  

・[Polars公式リファレンス](https://pola-rs.github.io/polars/py-polars/html/reference/index.html)  
・[Polars公式ガイド](https://pola-rs.github.io/polars-book/user-guide/)  
・[Github](https://github.com/pola-rs/polars)  

・"Data for Titanic passengers" from [VANDERBILT UNIVERSITY](https://biostat.app.vumc.org/wiki/Main/DataSets)  
  
**本コンテンツ作成時のPolarsのバージョンは0.15.16**
  
作成日:2023年2月11日  
最終更新日:2023年2月24日  
再配布・改編不可  
作成者：[kunishou](https://qiita.com/kunishou)
<br>  
**以下の手順で100本ノックに取り組むことでより習熟しやすくなります。**

① 以下のPolarsに関する記事を一読する  
[pandasから移行する人向け polars使用ガイド](https://qiita.com/nkay/items/9cfb2776156dc7e054c8)  
② Polars100本ノックの解答表示版に軽く目を通す  
③ Polars100本ノックに取り組む

In [ ]:
# Shift + Enterで題材データ、回答コードを読み込んで下さい

!git clone https://github.com/kunishou/Polars_100_knocks.git
%cd Polars_100_knocks//notebook/

!pip install polars==0.15.16
!pip show pyarrow==10.0.1

import pandas as pd
import polars as pl
import glob

#題材データをdfに読み込み(タイタニック号の乗客データ、テストの点数データ 等)
def initialize1():
    df = pl.read_csv('../input/titanic3.csv')
    return df

def initialize2():
    df = pl.read_csv('../input/data1.csv')
    return df

def initialize5():
    df = pl.read_csv('../input/data2.csv')
    return df

df = initialize1()
df2 = initialize2()
df3 = pl.read_csv('../input/data1_2.csv')
df4 = pl.read_csv('../input/data1_3.csv')
df5 = pl.read_csv('../input/data2.csv')

#回答コードをansリストに格納
path = sorted(glob.glob('../input/a_' + '*.txt'))

ans = []

for _ in range(len(path)):
    with open(path[_], 'r',encoding='utf-8') as f:
        ans.append(f.read())
        
print(ans[0])

# Pandas基礎 (1 - 14)

In [ ]:
# 【1】
# dfに読み込んだデータの最初の5行を表示
#print(ans[1]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【2】
# glimpseを用いてdfに読み込んだデータの最初の要素10個を表示
#print(ans[2]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【3】
# dfに読み込んだデータの最後の5行を表示
#print(ans[3]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【4】
# dfのDataFrameサイズを確認
#print(ans[4]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【5】
# inputフォルダ内のdata1.csvファイルを
# 読み込みdf2に格納して、最初の5行を表示
#print(ans[5]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【6】
# dfのfareの列で昇順に並び替えて表示
#print(ans[6]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【7】
# df_copyにdfをコピーして、最初の5行を表示
#print(ans[7]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【8】
# ① dfの各列のデータ型を確認
# ② dfのcabinの列のデータ型を確認
#print(ans[8]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【9】
# ① dfのpclassの列のデータ型をschemaで確認
# ② 数値型から文字列型に変換し、データ型をschemaで確認
#print(ans[9]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【10】
# dfのレコード数(行数)を確認
#print(ans[10]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【11】
# dfのレコード数(行数)、各列のデータ型、欠損値の有無を確認
#print(ans[11]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【12】
# dfのsex,cabinの列の要素を確認
#print(ans[12]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【13】
# dfの列名一覧を表示
#print(ans[13]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【14】
# dfのpclassの列をndarray形式で表示
#print(ans[14]) #解答表示
df = initialize1() #初期化

# データ抽出 (15 - 36)

In [ ]:
# 【15】
# selectを使ってdfのpclass列のみ表示
#print(ans[15]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【16】
# get_columnを用いてdfのpclass列のみ表示
#print(ans[16]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【17】
# get_columnsを用いてdfのpclass列のみ表示
#print(ans[17]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【18】
# selectを用いてdfのnameとsexの列のみ表示
#print(ans[18]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【19】
# get_columnを用いてdfのnameとsexの列のみ表示
#print(ans[19]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【20】
# dfのname列以外を表示
#print(ans[20]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【21】
# dfの4行目までを表示
# なお、確認のためにwith_row_countで
# インデックスを振る
#print(ans[21]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【22】
# dfの4行目から10行目までを表示
# なお、確認のためにwith_row_countで
# インデックスを振る
#print(ans[22]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【23】
# selectを使ってdf全体を表示
#print(ans[23]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【24】
# dfのnameからcabinまでの列を5行目まで表示
#print(ans[24]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【25】
# dfのname,age,sexの列のみ抽出しdf_copyに格納
# その後outputフォルダにcsvファイルで出力
# 出力ファイル名はsample.csv
#print(ans[25]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【26】
# dfのage列の値が30以上のデータのみ抽出
#print(ans[26]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【27】
# dfのsex列がfemaleのデータのみ抽出
#print(ans[27]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【28】
# dfのsex列がfemaleでかつageが40以上のデータのみ抽出
#print(ans[28]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【29】
# dfのsex列がfemaleでかつageが40以上のデータを
# 等号、不等号を使わずに抽出
#print(ans[29]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【30】
# dfのcabin列がnullでないデータを抽出
#print(ans[30]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【31】
# dfのage列が10以上、40以下のデータを
# 等号、不等号を使わずに抽出
#print(ans[31]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【32】
# dfのname列に文字列「Mrs」が含まれるデータを表示
#print(ans[32]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【33】
# dfの中で文字列型の列のみを表示
#print(ans[33]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【34】
# dfの各列の要素数の確認
#print(ans[34]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【35】
# dfのembarked列の要素と出現回数の確認
#print(ans[35]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【36】
# dfのすべての列の要素と出現回数の確認
#print(ans[36]) #解答表示
df = initialize1() #初期化

# データ加工 (37 - 64)

In [ ]:
# 【37】
# dfに with_row_count()でインデックスを振り
# row_nr列が「3」のage列を30から40に変更し、
# 先頭の5行を表示
#print(ans[37]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【38】
# dfのsex列にてmale→0、femlae→1に
# 変更し、先頭の5行を表示
#print(ans[38]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【39】
# dfのfare列に100を足して、
# 先頭の5行を表示
#print(ans[39]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【40】
# dfのfare列に2を掛けて、
# 先頭の5行を表示
#print(ans[40]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【41】
# dfのfare列に2を掛けて、
# age列に3を足して
# 先頭の5行を表示
#print(ans[41]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【42】
# applyを用いてdfのparch列に2を掛けて、
# sibsp列に1を足して
# 先頭の5行を表示
#print(ans[42]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【43】
# dfのfare列を小数点以下で丸めて、先頭の5行を表示
#print(ans[43]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【44】
# dfに列名「test」で値がすべて1の
# カラムを追加し、先頭の5行を表示
#print(ans[44]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【45】
# dfに列名「test」で値がすべて1の
# カラムと列名「test2」で値がすべてnullの
# カラムを追加し、先頭の5行を表示
#print(ans[45]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【46】
# dfにcabinとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
#print(ans[46]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【47】
# dfにageとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
#print(ans[47]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【48】
# dfにageとembarkedの列をconcat_strを用いて
# 「_」で結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
#print(ans[48]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【49】
# dfからbodyの列を削除し、最初の5行を表示
#print(ans[49]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【50】
# dfに with_row_count()でインデックスを振り
# row_nr列が「3」の行を削除し、最初の5行を表示
#print(ans[50]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【51】
# df2の列名を'name', 'class', 'Biology', 'Physics', 'Chemistry'に変更
# df2の最初の5行を表示
#print(ans[51]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【52】
# df2の列名を'English'をBiology'に変更
# df2の最初の5行を表示
#print(ans[52]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【53】
# dfのすべての列の欠損値数を確認
#print(ans[53]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【54】
# dfのage列の欠損値に30を代入
# その後、ageの欠損値数を確認
#print(ans[54]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【55】
# dfでひとつでも欠損値がある行を削除
# その後、dfの欠損値数を確認
#print(ans[55]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【56】
# dfのsurvivedの列をndarray形式(配列)で表示
#print(ans[56]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【57】
# dfの行をシャッフルし、
# dfの最初の5行を表示
#print(ans[57]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【58】
# ①df2の重複行数をカウント
# ②df2の重複行を削除し、df2を表示
#print(ans[58]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【59】
# dfのnameの列をすべて大文字に変換し表示
#print(ans[59]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【60】
# dfのnameの列をすべて小文字に変換し表示
#print(ans[60]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【61】
# dfのsex列に含まれる「female」という単語を
# 「Python」に置換。その後、1行目の
# 「female」が「Python」に置き換わったことを確認
#print(ans[61]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【62】
# dfのname列1行目の「Allen, Miss. Elisabeth Walton」の
# 「Elisabeth」を消去(import reをインポート)
#print(ans[62]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【63】
# df5の都道府県列と市区町村列を空白がないように
# 「_」で結合(新規列名は「test2」)し、先頭5行を表示
# ※df5の「test」列は通常通り結合した場合の結果
#print(ans[63]) #解答表示
df5 = initialize5() #初期化

In [ ]:
# 【64】
# df2の行と列を入れ替えて表示
#print(ans[64]) #解答表示
df2 = initialize2() #初期化

# マージと連結(65 - 73)

In [ ]:
# 【65】
# df2にdf3を左結合（結合キーはname）し、df2に格納
#print(ans[65]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【66】
# df2にdf3を右結合（結合キーはname）し、df2に格納
#print(ans[66]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【67】
# df2にdf3を内部結合（結合キーはname）し、df2に格納
#print(ans[67]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【68】
# df2にdf3を外部結合（結合キーはname）し、df2に格納
#print(ans[68]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【69】
# df2にdf3を、df3にのみ存在するデータのみを残してて結合
#print(ans[69]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【70】
# df2にdf3を、df3に存在しないデータを残してて結合
#print(ans[70]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【71】
# df2とdf3のそれぞれの行を全通り組み合わせた
# dataframeを作成
#print(ans[71]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【72】
# df2とdf4を列方向に連結し、df2に格納
#print(ans[72]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【73】
# df2とdf4を行方向に連結し、df2に格納
#print(ans[73]) #解答表示
df2 = initialize2() #初期化

# 統計 (74 - 87)

In [ ]:
# 【74】
# dfのage列の平均値を確認
#print(ans[74]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【75】
# dfのage列の中央値を確認
#print(ans[75]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【76】
# ①df2の生徒ごとの合計点（行方向の合計）
# ②df2の科目ごとの点数の総和（列方向の合計）
#print(ans[76]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【77】
# df2のEnglishで得点の最大値
#print(ans[77]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【78】
# df2のEnglishで得点の最小値
#print(ans[78]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【79】
# df2においてclassでグルーピングし、クラスごとの科目の
# 最大値、最小値、平均値を求める(name列は削除しておく)
#print(ans[79]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【80】
# df2においてclassでグルーピングし、aggを用いて
# 各科目の平均、最大値、最小値を求める
# なお、各科目の平均、最大値、最小値には
# 「***_mean」のようにsuffixを振ること
#print(ans[80]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【81】
# dfの各列間の(Pearson)相関係数を確認
#print(ans[81]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【82】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
#print(ans[82]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【83】
# scikit-learnを用いてdf2のEnglish列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
#print(ans[83]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【84】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を
# Min-Maxスケーリングする
# (from sklearn.preprocessing import MinMaxScalerをインポート)
#print(ans[84]) #解答表示
df2 = initialize2() #初期化

In [ ]:
# 【85】
# dfのfare列の最大値、最小値の行名を取得
#print(ans[85]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【86】
# dfのfare列の0、25、50、75、100パーセンタイルを取得
#print(ans[86]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【87】
# ①dfのage列の最頻値を取得
# ②value_counts()にてage列の要素数を
# 確認し、①の結果の妥当性を確認
#print(ans[87]) #解答表示
df = initialize1() #初期化

# ラベリング (88 - 89)

In [ ]:
# 【88】
# dfのsex列をラベルエンコーディングし、
# dfの先頭5行を表示
# (from sklearn.preprocessing import LabelEncoderをインポート)
#print(ans[88]) #解答表示
df = initialize1() #初期化

In [ ]:
# 【89】
# dfのsex列をOne-hotエンコーディングし、
# dfの先頭5行を表示
#print(ans[89]) #解答表示
df = initialize1() #初期化

# タイタニック号の生存者予測 (90 - 100)  
これまで触れてきたタイタニック号の乗客データを使用して、乗客の生存有無を  
予測してみます。  
  
※90～100については順番通りにやらないと上手く動作しません

In [ ]:
# 【90】ラベルエンコーディング
# df_copyのsexとembarked列をラベルエンコーディング
# (from sklearn.preprocessing import LabelEncoderをインポート)
# (df_copyはdfをコピーしたもの)
#print(ans[90]) #解答表示
df = initialize1() #初期化
df_copy =df.clone()

In [ ]:
# 【91】欠損値確認
# df_copyの欠損値を確認
#print(ans[91]) #解答表示

In [ ]:
# 【92】欠損値補完
# df_copyのage、fare列の欠損値を各列の平均値で補完
#print(ans[92]) #解答表示

In [ ]:
# 【93】不要列の削除
# df_copyの中で機械学習で使用しない不要な行を削除
# (name, ticket, cabin, boat, body, home.destを削除)
#print(ans[93]) #解答表示

In [ ]:
# 【94】ndarray形式への変換
# ①df_copyのpclass、age、sex、fare、embarkedの列を抽出し、ndarray形式に変換
# ②df_copyのsurvivedの列を抽出し、ndarray形式に変換
# (①をfeatures、②をtargetという変数にそれぞれ格納)
#print(ans[94]) #解答表示

In [ ]:
# 【95】学習データとテストデータに分割
# 【94】で作成したfeatrues、targetを学習データとテストデータに分割
# (from sklearn.model_selection import  train_test_splitをインポート)
# ※分割時のパラメータは次を指定 test_size=0.3 random_state=0
#print(ans[95]) #解答表示

In [ ]:
# 【96】学習の実行
# 学習データ(features、target)を用いランダムフォレストにて学習を実行
# (from sklearn.ensemble import RandomForestClassifierをインポート)
# ※パラメータは次を指定 n_estimators=100 random_state=0
#print(ans[96]) #解答表示

In [ ]:
# 【97】予測の実行
# test_Xデータの乗客の生存を予測
#print(ans[97]) #解答表示

In [ ]:
# 【98】予測精度の確認
# 予測結果がtest_y(生存有無の答え)とどれぐらい
# 整合していたかを確認(評価指標はaccuracy)
# (from sklearn.metrics import accuracy_scoreをインポート)
#print(ans[98]) #解答表示

In [ ]:
# 【99】重要度の確認
# 学習における各列(特徴量)の
# 重要度を表示
#print(ans[99]) #解答表示

In [ ]:
# 【100】予測結果のcsv出力
# test_Xの予測結果をcsvでoutputフォルダに出力(ファイル名は「submission.csv」)
# (headerは不要)
#print(ans[100]) #解答表示

# ノックお疲れ様でした