<a href="https://colab.research.google.com/github/kunishou/Polars_100_knocks/blob/main/02_Polars_100_Knocks_for_colab_all_answer_displayed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 初学者向けPolars100本ノックver1.0.1
##### Shift + Enter で各セルのコードが実行されます
・print(ans[ 問題番号 ]) で回答コード例を表示  

・[Polars公式リファレンス](https://pola-rs.github.io/polars/py-polars/html/reference/index.html)  
・[Polars公式ガイド](https://pola-rs.github.io/polars-book/user-guide/)  
・[Github](https://github.com/pola-rs/polars)  

・"Data for Titanic passengers" from [VANDERBILT UNIVERSITY](https://biostat.app.vumc.org/wiki/Main/DataSets)  
  
**本コンテンツ作成時のPolarsのバージョンは0.15.16**
  
作成日:2023年2月11日  
最終更新日:2023年2月11日  
再配布・改編不可  
作成者：[kunishou](https://qiita.com/kunishou)

**以下の手順で100本ノックに取り組むことでより習熟しやすくなります。**

① 以下のPolarsに関する記事を一読する  
[pandasから移行する人向け polars使用ガイド](https://qiita.com/nkay/items/9cfb2776156dc7e054c8)  
② Polars100本ノックの解答表示版に軽く目を通す  
③ Polars100本ノックに取り組む

In [ ]:
!pip install polars==0.15.16
!pip show pyarrow==10.0.1

In [ ]:
# Shift + Enterで題材データ、回答コードを読み込んで下さい

!git clone https://github.com/kunishou/Polars_100_knocks.git
%cd Polars_100_knocks//notebook/

!pip install polars==0.15.16
!pip show pyarrow==10.0.1

import pandas as pd
import polars as pl
import glob

#題材データをdfに読み込み(タイタニック号の乗客データ、テストの点数データ 等)
def initialize1():
    df = pl.read_csv('../input/titanic3.csv')
    return df

def initialize2():
    df = pl.read_csv('../input/data1.csv')
    return df

def initialize5():
    df = pl.read_csv('../input/data2.csv')
    return df

df = initialize1()
df2 = initialize2()
df3 = pl.read_csv('../input/data1_2.csv')
df4 = pl.read_csv('../input/data1_3.csv')
df5 = pl.read_csv('../input/data2.csv')

#回答コードをansリストに格納
path = sorted(glob.glob('../input/a_' + '*.txt'))

ans = []

for _ in range(len(path)):
    with open(path[_], 'r',encoding='utf-8') as f:
        ans.append(f.read())
        
print(ans[0])

[answer0]

このように解答コード例がここに表示されます。
各問題の解答コード例を表示するときはprintの前の
#を消して実行して下さい。

コード例をセル内にコピー&ペーストし
実行すると、正解のデータが表示されます

# Pandas基礎 (1 - 14)

In [ ]:
# 【1】
# dfに読み込んだデータの最初の5行を表示
print(ans[1]) #解答表示
df = initialize1() #初期化

df.head()

[answer1]

df.head()


----------------------------------------------

[tips]
・.head()はデフォルトで先頭5行表示
・()に表示したい行数を入れる
・先頭の10行を表示したい場合は head(10)

----------------------------------------------

[参考] pandas記法

df.head()

shape: (5, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【2】
# glimpseを用いてdfに読み込んだデータの最初の要素10個を表示
print(ans[2]) #解答表示
df = initialize1() #初期化

print(df.glimpse())

[answer2]

df.glimpse()

----------------------------------------------

[tips]
・glimpse()はすべての列の先頭の要素10個を文字列として表示する
・列数が多い密なdataframeの中身を確認する場合にはhead()よりも見やすい

----------------------------------------------

[参考] pandas記法

該当メソッドなし


Rows: 1309
Columns: 14
$ pclass    <i64> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ survived  <i64> 1, 1, 0, 0, 0, 1, 1, 0, 1, 0
$ name      <str> Allen, Miss. Elisabeth Walton, Allison, Master. Hudson Trevor, Allison, Miss. Helen Loraine, Allison, Mr. Hudson Joshua Creighton, Allison, Mrs. Hudson J C (Bessie Waldo Daniels), Anderson, Mr. Harry, Andrews, Miss. Kornelia Theodosia, Andrews, Mr. Thomas Jr, Appleton, Mrs. Edward Dale (Charlotte Lamson), Artagaveytia, Mr. Ramon
$ sex       <str> female, male, female, male, female, male, female, male, female, male
$ age       <f64> 29.0, 0.92, 2.0, 30.0, 25.0, 48.0, 63.0, 39.0, 53.0, 71.0
$ sibsp     <i64> 0, 1, 1, 1, 1, 0, 1, 0, 2, 0
$ parch     <i64> 0, 2, 2, 2, 2, 0, 0, 0, 0, 0
$ ticket    <str> 24160, 113781, 113781, 113781, 113781, 19952, 13502, 112050, 11769, PC 17609
$ fare      <f64> 211.3375, 151.55, 151.55, 151.55, 151.55, 26.55, 77.9583, 0.0, 51.4792, 49.5042
$ cabin     <str> B5, C22 C26, C22 C26, C22 C26, C22 C26, E12, D7, A36, C101, None
$ embarked  <str> S, S, S, S, S, S, S, S, S, C
$ boat      <str> 2, 11, None, None, None, 3, 10, None, D, None
$ body      <i64> None, None, None, 135, None, None, None, None, None, 22
$ home.dest <str> St Louis, MO, Montreal, PQ / Chesterville, ON, Montreal, PQ / Chesterville, ON, Montreal, PQ / Chesterville, ON, Montreal, PQ / Chesterville, ON, New York, NY, Hudson, NY, Belfast, NI, Bayside, Queens, NY, Montevideo, Uruguay

In [ ]:
# 【3】
# dfに読み込んだデータの最後の5行を表示
print(ans[3]) #解答表示
df = initialize1() #初期化

df.tail()

[answer3]

df.tail()


----------------------------------------------

[tips]
・tail()はデフォルトで最後の5行表示
・()に表示したい行数を入れる
・最後の10行を表示したい場合は tail(10)

----------------------------------------------

[参考] pandas記法

df.tail()

shape: (5, 14)
┌────────┬──────────┬───────────────────────────┬────────┬─────┬──────────┬──────┬──────┬───────────┐
│ pclass ┆ survived ┆ name                      ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest │
│ ---    ┆ ---      ┆ ---                       ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---       │
│ i64    ┆ i64      ┆ str                       ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str       │
╞════════╪══════════╪═══════════════════════════╪════════╪═════╪══════════╪══════╪══════╪═══════════╡
│ 3      ┆ 0        ┆ Zabour, Miss. Hileni      ┆ female ┆ ... ┆ C        ┆ null ┆ 328  ┆ null      │
│ 3      ┆ 0        ┆ Zabour, Miss. Thamine     ┆ female ┆ ... ┆ C        ┆ null ┆ null ┆ null      │
│ 3      ┆ 0        ┆ Zakarian, Mr. Mapriededer ┆ male   ┆ ... ┆ C        ┆ null ┆ 304  ┆ null      │
│ 3      ┆ 0        ┆ Zakarian, Mr. Ortin       ┆ male   ┆ ... ┆ C        ┆ null ┆ null ┆ null      │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo        ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ null      │
└────────┴──────────┴───────────────────────────┴────────┴─────┴──────────┴──────┴──────┴───────────┘

In [ ]:
# 【4】
# dfのDataFrameサイズを確認
print(ans[4]) #解答表示
df = initialize1() #初期化

df.shape

[answer4]

df.shape


----------------------------------------------

[tips]
・shapeではdataframeの行数、列数を返します

----------------------------------------------

[参考] pandas記法

df.shape

(1309, 14)

In [ ]:
# 【5】
# inputフォルダ内のdata1.csvファイルを
# 読み込みdf2に格納して、最初の5行を表示
print(ans[5]) #解答表示
df2 = initialize2() #初期化

df2 = pl.read_csv('../input/data1.csv')
df2.head()

[answer5]

df2 = pl.read_csv('../input/data1.csv')
df2.head()


----------------------------------------------

[Tips]
・csvを読み込む際にはread_csv()を使用する
・read_json()やread_excel()などもある

----------------------------------------------

[参考] pandas記法

df2 = pd.read_csv('../input/data1.csv')
df2.head()

shape: (5, 5)
┌──────┬───────┬─────────┬─────────────┬─────────┐
│ name ┆ class ┆ English ┆ Mathematics ┆ History │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╡
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      │
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      │
│ C    ┆ 2     ┆ 65      ┆ 70          ┆ 95      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      │
│ E    ┆ 2     ┆ 76      ┆ 82          ┆ 79      │
└──────┴───────┴─────────┴─────────────┴─────────┘

In [ ]:
# 【6】
# dfのfareの列で昇順に並び替えて表示
print(ans[6]) #解答表示
df = initialize1() #初期化

df.select(pl.all().sort_by('fare'))

[answer6]

df.select(pl.all().sort_by('fare'))


----------------------------------------------

[Tips]
・要素でソートするときはsort_by()を使用
・デフォルトでは昇順
・降順でソートしたい場合は reverse=True を指定
・ソートする列を複数指定可能

ex) fare列で降順でソートした後にage列で降順にソートしたい場合は
　　以下のように書く
※ リスト内でage列を先に書く点に注意

df.select(pl.all().sort_by(['age', 'fare'], reverse=True))

・似たメソッドにsort()があるが、これはカラムごとに独立してソートされる点に注意
※ dataframe全体を前処理するようなときは基本的にsort_by()を使うのが良いと思います

ex) print(df.select(pl.col(['fare', 'age']).sort(reverse=True, nulls_last=True)).head())

実行結果)

┌──────────┬──────┐
│ fare     ┆ age  │
│ ---      ┆ ---  │
│ f64      ┆ f64  │
╞══════════╪══════╡
│ 512.3292 ┆ 80.0 │
│ 512.3292 ┆ 76.0 │
│ 512.3292 ┆ 74.0 │
│ 512.3292 ┆ 71.0 │
│ 263.0    ┆ 71.0 │
└──────────┴──────┘

sort()ではfare列、age列が独立して降順にソートされているのが分かる

----------------------------------------------

[参考] pandas記法

df.sort_values('fare')

shape: (1309, 14)
┌────────┬──────────┬─────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬────────────────────────────┐
│ pclass ┆ survived ┆ name                        ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest                  │
│ ---    ┆ ---      ┆ ---                         ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                        │
│ i64    ┆ i64      ┆ str                         ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str                        │
╞════════╪══════════╪═════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪════════════════════════════╡
│ 3      ┆ 0        ┆ Storey, Mr. Thomas          ┆ male   ┆ ... ┆ S        ┆ null ┆ 261  ┆ null                       │
│ 1      ┆ 0        ┆ Andrews, Mr. Thomas Jr      ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ Belfast, NI                │
│ 1      ┆ 0        ┆ Chisholm, Mr. Roderick      ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ Liverpool, England /       │
│        ┆          ┆ Robert Cr...                ┆        ┆     ┆          ┆      ┆      ┆ Belfast                    │
│ 1      ┆ 0        ┆ Fry, Mr. Richard            ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ null                       │
│ ...    ┆ ...      ┆ ...                         ┆ ...    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...                        │
│ 1      ┆ 1        ┆ Cardeza, Mr. Thomas Drake   ┆ male   ┆ ... ┆ C        ┆ 3    ┆ null ┆ Austria-Hungary /          │
│        ┆          ┆ Martin...                   ┆        ┆     ┆          ┆      ┆      ┆ Germantown, Ph...          │
│ 1      ┆ 1        ┆ Cardeza, Mrs. James         ┆ female ┆ ... ┆ C        ┆ 3    ┆ null ┆ Germantown, Philadelphia,  │
│        ┆          ┆ Warburton Ma...             ┆        ┆     ┆          ┆      ┆      ┆ PA                         │
│ 1      ┆ 1        ┆ Lesurer, Mr. Gustave J      ┆ male   ┆ ... ┆ C        ┆ 3    ┆ null ┆ null                       │
│ 1      ┆ 1        ┆ Ward, Miss. Anna            ┆ female ┆ ... ┆ C        ┆ 3    ┆ null ┆ null                       │
└────────┴──────────┴─────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴────────────────────────────┘

In [ ]:
# 【7】
# df_copyにdfをコピーして、最初の5行を表示
print(ans[7]) #解答表示
df = initialize1() #初期化

df_copy = df.clone()
df_copy.head()

[answer7]

df_copy = df.clone()
df_copy.head()


----------------------------------------------

[Tips]
① df_copy = df と ② df_copy = df.clone() では
挙動が異なるので注意が必要。

①の場合、df_copyはdfを参照しているだけのため、
df側の値を変えると、df_copy側の値も変わる
(dfとdf_copyは連動)。

df側の値の変更をdf_copy側に反映させたくない
場合には②のclone()を使う(dfとdf_copyは独立)。

----------------------------------------------

[参考] pandas記法

df_copy = df.copy()
df_copy.head()

shape: (5, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【8】
# ① dfの各列のデータ型を確認
# ② dfのcabinの列のデータ型を確認
print(ans[8]) #解答表示
df = initialize1() #初期化

print(df.schema)
print(df.select(pl.col('cabin')).schema)

[answer8]

print(df.schema)
print(df.select(pl.col('cabin')).schema)


----------------------------------------------

[Tips]
・DataFrameの各列のデータ型を確認したい場合は schemaを使用
・dataframe内の一部の列のみ抽出したい場合は
　df.select(pl.col('列名'))
　のように記述する。pl.col('列名').schemaとすることで該当列のみに
　schemaを適応できる


※なお、複数のコードの結果を表示したい場合はprintを使用する
(printをつけない場合、2行目のschemaの結果しか表示されない)

----------------------------------------------

[参考] pandas記法

print(df.dtypes)
print(df['cabin'].dtype)


{'pclass': Int64, 'survived': Int64, 'name': Utf8, 'sex': Utf8, 'age': Float64, 'sibsp': Int64, 'parch': Int64, 'ticket': Utf8, 'fare': Float64, 'cabin': Utf8, 'embarked': Utf8, 'boat': Utf8, 'body': Int64, 'home.dest': Utf8}
{'cabin': Utf8}

In [ ]:
# 【9】
# ① dfのpclassの列のデータ型をschemaで確認
# ② 数値型から文字列型に変換し、データ型をschemaで確認
print(ans[9]) #解答表示
df = initialize1() #初期化

print(df.select(pl.col('pclass')).schema)
df = df.with_columns(pl.col('pclass').cast(pl.Utf8))
print(df.select(pl.col('pclass')).schema)

[answer9]

print(df.select(pl.col('pclass')).schema)
df = df.with_columns(pl.col('pclass').cast(pl.Utf8))
print(df.select(pl.col('pclass')).schema)


----------------------------------------------

[Tips]
・データ型を変更する場合は cast(データ型) で型変換可能

Polarsのデータ型の一例
　整数：pl.Int64
　浮動小数：pl.Float64
　文字列：pl.Utf8

・新しい列を追加したり、特定列に処理をして列を更新する場合は
　with_colmuns()を用います

ex) pclass列を文字列型に変換し、新しい列としてdataframeに追加したい場合

df = df.with_columns(pl.col('pclass').cast(pl.Utf8).alias('pclass2'))

上記コードを実行後に以下のコードを実行するとdfに文字列型のpclass2が
追加されていることを確認できます

print(df.select(pl.col(['pclass', 'pclass2'])).schema)

Output:
{'pclass': Int64, 'pclass2': Utf8}


----------------------------------------------

[参考] pandas記法

print(df['pclass'].dtype)
df['pclass'] = df['pclass'].astype(str)
print(df['pclass'].dtype)



{'pclass': Int64}
{'pclass': Utf8}

In [ ]:
# 【10】
# dfのレコード数(行数)を確認
print(ans[10]) #解答表示
df = initialize1() #初期化

len(df)

[answer10]

len(df)


----------------------------------------------

[Tips]
・dataframeのレコード数(行数)を知りたい時は
　len()を使用

----------------------------------------------

[参考] pandas記法

len(df)

1309

In [ ]:
# 【11】
# dfのレコード数(行数)、各列のデータ型、欠損値の有無を確認
print(ans[11]) #解答表示
df = initialize1() #初期化

df.describe()

[answer11]

df.describe()


----------------------------------------------

[Tips]
・レコード数(行数)、各列のデータ型、欠損値の有無の
　確認にはdescribe()を使用
・平均値や中央値などの統計情報も表示される

----------------------------------------------

[参考] pandas記法

df.info()

※ pandasのinfo()では統計情報は表示されない。pandasで統計情報を
　 確認したい場合はdf.describe()で確認する。

shape: (7, 15)
┌────────────┬──────────┬──────────┬─────────────────────┬─────┬──────────┬──────┬────────────┬─────────────────────┐
│ describe   ┆ pclass   ┆ survived ┆ name                ┆ ... ┆ embarked ┆ boat ┆ body       ┆ home.dest           │
│ ---        ┆ ---      ┆ ---      ┆ ---                 ┆     ┆ ---      ┆ ---  ┆ ---        ┆ ---                 │
│ str        ┆ f64      ┆ f64      ┆ str                 ┆     ┆ str      ┆ str  ┆ f64        ┆ str                 │
╞════════════╪══════════╪══════════╪═════════════════════╪═════╪══════════╪══════╪════════════╪═════════════════════╡
│ count      ┆ 1309.0   ┆ 1309.0   ┆ 1309                ┆ ... ┆ 1309     ┆ 1309 ┆ 1309.0     ┆ 1309                │
│ null_count ┆ 0.0      ┆ 0.0      ┆ 0                   ┆ ... ┆ 2        ┆ 823  ┆ 1188.0     ┆ 564                 │
│ mean       ┆ 2.294882 ┆ 0.381971 ┆ null                ┆ ... ┆ null     ┆ null ┆ 160.809917 ┆ null                │
│ std        ┆ 0.837836 ┆ 0.486055 ┆ null                ┆ ... ┆ null     ┆ null ┆ 97.696922  ┆ null                │
│ min        ┆ 1.0      ┆ 0.0      ┆ Abbing, Mr. Anthony ┆ ... ┆ C        ┆ 1    ┆ 1.0        ┆ ?Havana, Cuba       │
│ max        ┆ 3.0      ┆ 1.0      ┆ van Melkebeke, Mr.  ┆ ... ┆ S        ┆ D    ┆ 328.0      ┆ Zurich, Switzerland │
│            ┆          ┆          ┆ Philemon            ┆     ┆          ┆      ┆            ┆                     │
│ median     ┆ 3.0      ┆ 0.0      ┆ null                ┆ ... ┆ null     ┆ null ┆ 155.0      ┆ null                │
└────────────┴──────────┴──────────┴─────────────────────┴─────┴──────────┴──────┴────────────┴─────────────────────┘

In [ ]:
# 【12】
# dfのsex,cabinの列の要素を確認
print(ans[12]) #解答表示
df = initialize1() #初期化

print(df.select(pl.col('sex').unique()))
print(df.select(pl.col('cabin').unique()))

[answer12]

print(df.select(pl.col('sex').unique()))
print(df.select(pl.col('cabin').unique()))


----------------------------------------------

[Tips]
・列に含まれる要素の確認にはunique()を使用

----------------------------------------------

[参考] pandas記法

print(df['sex'].unique())
print(df['cabin'].unique())


shape: (2, 1)
┌────────┐
│ sex    │
│ ---    │
│ str    │
╞════════╡
│ female │
│ male   │
└────────┘
shape: (187, 1)
┌─────────────┐
│ cabin       │
│ ---         │
│ str         │
╞═════════════╡
│ C45         │
│ E25         │
│ C95         │
│ A29         │
│ ...         │
│ E121        │
│ D36         │
│ C53         │
│ C23 C25 C27 │
└─────────────┘

In [ ]:
# 【13】
# dfの列名一覧を表示
print(ans[13]) #解答表示
df = initialize1() #初期化

df.columns

[answer13]

df.columns


----------------------------------------------

[Tips]
・列名を一覧表示するにはcolumnsを使用

----------------------------------------------

[参考] pandas記法

df.columns

['pclass',
 'survived',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'home.dest']

In [ ]:
# 【14】
# dfのpclassの列をndarray形式で表示
print(ans[14]) #解答表示
df = initialize1() #初期化

df.get_column('pclass').to_numpy()

[answer14]

df.get_column('pclass').to_numpy()

[別解]

df.select('pclass').to_series().to_numpy()

----------------------------------------------

[Tips]
・seriesに対してto_numpy()を付けることでndaaray形式に変換できる
・get_column('列名')で特定列をseriesで抽出可能
・selectで抽出する場合、dataframeになるためto_series()でseriesに
　変換する必要あり

df.index.tolist()

----------------------------------------------

[参考] pandas記法

df.index.values

array([1, 1, 1, ..., 3, 3, 3], dtype=int64)

# データ抽出 (15 - 36)

In [ ]:
# 【15】
# selectを使ってdfのpclass列のみ表示
print(ans[15]) #解答表示
df = initialize1() #初期化

df.select('pclass')
#df.get_column('pclass')

[answer15]

df.select('pclass')


----------------------------------------------

[tips]
・selectで特定の列のみを抽出可能（dataframeとして抽出される）

----------------------------------------------

[参考] pandas記法

df['pclass']

shape: (1309, 1)
┌────────┐
│ pclass │
│ ---    │
│ i64    │
╞════════╡
│ 1      │
│ 1      │
│ 1      │
│ 1      │
│ ...    │
│ 3      │
│ 3      │
│ 3      │
│ 3      │
└────────┘

In [ ]:
# 【16】
# get_columnを用いてdfのpclass列のみ表示
print(ans[16]) #解答表示
df = initialize1() #初期化

df.get_column('pclass')

[answer16]

df.get_column('pclass')


----------------------------------------------

[Tips]
・get_columnを用いても特定の列のみ抽出可能（seriesとして抽出される）
・なお、get_column(['fare', 'age'])のように複数列を抽出する場合は
　dataframeとして抽出される

----------------------------------------------

[参考] pandas記法

df['pclass']

shape: (1309,)
Series: 'pclass' [i64]
[
	1
	1
	1
	1
	1
	1
	1
	1
	1
	1
	1
	1
	...
	3
	3
	3
	3
	3
	3
	3
	3
	3
	3
	3
	3
	3
]

In [ ]:
# 【17】
# get_columnsを用いてdfのpclass列のみ表示
print(ans[17]) #解答表示
df = initialize1() #初期化

# df.get_columns()[0]
df.get_columns()[df.find_idx_by_name('pclass')]

[answer17]

df.get_columns()[0]

[別解]
df.get_columns()[df.find_idx_by_name('pclass')]


----------------------------------------------

[Tips]
・get_columns()[n]で、dataframeのn番目の列を
　seriesとして抽出します
・別解のdf.find_idx_by_name('列名')で列番号を
　指定することも可能です。列数の多いdataframeに対して
　get_columnsを使用する場合はこちらの書き方のほうが良いです

----------------------------------------------

[参考] pandas記法

df['pclass']

shape: (1309,)
Series: 'pclass' [i64]
[
	1
	1
	1
	1
	1
	1
	1
	1
	1
	1
	1
	1
	...
	3
	3
	3
	3
	3
	3
	3
	3
	3
	3
	3
	3
	3
]

In [ ]:
# 【18】
# selectを用いてdfのnameとsexの列のみ表示
print(ans[18]) #解答表示
df = initialize1() #初期化

df.select(['name', 'sex'])
# df.get_column(['name', 'sex'])

[answer18]

df.select(['name', 'sex'])


----------------------------------------------

[Tips]
・selectに列名をリストで渡すことで複数列の抽出も可能
・select(pl.col(['name', 'sex']))のように書くこともできる
・抽出した各列に個別に処理を加えたい場合は以下のように
　書くことができる

ex) age列に1を加算し、fare列に100を加算する

df.select([pl.col('age')+1 , pl.col('fare')+100])

----------------------------------------------

[参考] pandas記法

df[['name','sex']]

shape: (1309, 2)
┌─────────────────────────────────────┬────────┐
│ name                                ┆ sex    │
│ ---                                 ┆ ---    │
│ str                                 ┆ str    │
╞═════════════════════════════════════╪════════╡
│ Allen, Miss. Elisabeth Walton       ┆ female │
│ Allison, Master. Hudson Trevor      ┆ male   │
│ Allison, Miss. Helen Loraine        ┆ female │
│ Allison, Mr. Hudson Joshua Creig... ┆ male   │
│ ...                                 ┆ ...    │
│ Zabour, Miss. Thamine               ┆ female │
│ Zakarian, Mr. Mapriededer           ┆ male   │
│ Zakarian, Mr. Ortin                 ┆ male   │
│ Zimmerman, Mr. Leo                  ┆ male   │
└─────────────────────────────────────┴────────┘

In [ ]:
# 【19】
# get_columnを用いてdfのnameとsexの列のみ表示
print(ans[19]) #解答表示
df = initialize1() #初期化

df.get_column(['name', 'sex'])

[answer19]

df.get_column(['name', 'sex'])


----------------------------------------------

[Tips]
・get_columnに列名をリストで渡すことで複数列の抽出も可能
・selectのように抽出後の列に対して処理を加えることはできない

----------------------------------------------

[参考] pandas記法

df[['name','sex']]

shape: (1309, 2)
┌─────────────────────────────────────┬────────┐
│ name                                ┆ sex    │
│ ---                                 ┆ ---    │
│ str                                 ┆ str    │
╞═════════════════════════════════════╪════════╡
│ Allen, Miss. Elisabeth Walton       ┆ female │
│ Allison, Master. Hudson Trevor      ┆ male   │
│ Allison, Miss. Helen Loraine        ┆ female │
│ Allison, Mr. Hudson Joshua Creig... ┆ male   │
│ ...                                 ┆ ...    │
│ Zabour, Miss. Thamine               ┆ female │
│ Zakarian, Mr. Mapriededer           ┆ male   │
│ Zakarian, Mr. Ortin                 ┆ male   │
│ Zimmerman, Mr. Leo                  ┆ male   │
└─────────────────────────────────────┴────────┘

In [ ]:
# 【20】
# dfのname列以外を表示
print(ans[20]) #解答表示
df = initialize1() #初期化

df.select(pl.all().exclude('name'))

[answer20]

df.select(pl.all().exclude('name'))


----------------------------------------------

[Tips]
・exclude('列名')で特定の列を除外してデータを抽出することが可能
・select(pl.all())ですべての列の取得になるが、
　select(pl.all().exclude('name'))とすることでname列以外の
　データを抽出している
・以下のように書くことで特定のデータ型の列以外を抽出することも可能

ex) 文字列型以外の列を抽出する

df.select(pl.all().exclude(pl.Utf8))

----------------------------------------------

[参考] pandas記法

df.drop(['name'], axis=1)

shape: (1309, 13)
┌────────┬──────────┬────────┬──────┬─────┬──────────┬──────┬──────┬─────────────────────────────────┐
│ pclass ┆ survived ┆ sex    ┆ age  ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest                       │
│ ---    ┆ ---      ┆ ---    ┆ ---  ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                             │
│ i64    ┆ i64      ┆ str    ┆ f64  ┆     ┆ str      ┆ str  ┆ i64  ┆ str                             │
╞════════╪══════════╪════════╪══════╪═════╪══════════╪══════╪══════╪═════════════════════════════════╡
│ 1      ┆ 1        ┆ female ┆ 29.0 ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO                    │
│ 1      ┆ 1        ┆ male   ┆ 0.92 ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ / Chesterville, ON │
│ 1      ┆ 0        ┆ female ┆ 2.0  ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ / Chesterville, ON │
│ 1      ┆ 0        ┆ male   ┆ 30.0 ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ / Chesterville, ON │
│ ...    ┆ ...      ┆ ...    ┆ ...  ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...                             │
│ 3      ┆ 0        ┆ female ┆ null ┆ ... ┆ C        ┆ null ┆ null ┆ null                            │
│ 3      ┆ 0        ┆ male   ┆ 26.5 ┆ ... ┆ C        ┆ null ┆ 304  ┆ null                            │
│ 3      ┆ 0        ┆ male   ┆ 27.0 ┆ ... ┆ C        ┆ null ┆ null ┆ null                            │
│ 3      ┆ 0        ┆ male   ┆ 29.0 ┆ ... ┆ S        ┆ null ┆ null ┆ null                            │
└────────┴──────────┴────────┴──────┴─────┴──────────┴──────┴──────┴─────────────────────────────────┘

In [ ]:
# 【21】
# dfの4行目までを表示
# なお、確認のためにwith_row_countで
# インデックスを振る
print(ans[21]) #解答表示
df = initialize1() #初期化

df = df.with_row_count()
df[:4]

[answer21]

df = df.with_row_count()
df[:4]

[別解]

df = df.with_row_count()
df.slice(0,4)

----------------------------------------------

[Tips]
・slice(n, m)でn行目からmレコードを表示することができる

----------------------------------------------

[参考] pandas記法

df[:4]

shape: (4, 15)
┌────────┬────────┬──────────┬───────────────────────────────────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ row_nr ┆ pclass ┆ survived ┆ name                                  ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---    ┆ ---      ┆ ---                                   ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ u32    ┆ i64    ┆ i64      ┆ str                                   ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪════════╪══════════╪═══════════════════════════════════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 0      ┆ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆        ┆          ┆                                       ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 2      ┆ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆        ┆          ┆                                       ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 3      ┆ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆        ┆          ┆                                       ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴────────┴──────────┴───────────────────────────────────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【22】
# dfの4行目から10行目までを表示
# なお、確認のためにwith_row_countで
# インデックスを振る
print(ans[22]) #解答表示
df = initialize1() #初期化

df = df.with_row_count()
df[3:10]

[answer22]

df = df.with_row_count()
df[3:10]


----------------------------------------------

[Tips]
・問21と同様にsliceを使って抽出することも可能

----------------------------------------------

[参考] pandas記法

df[3:10]

shape: (7, 15)
┌────────┬────────┬──────────┬────────────────────────────┬─────┬──────────┬──────┬──────┬─────────────────────┐
│ row_nr ┆ pclass ┆ survived ┆ name                       ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest           │
│ ---    ┆ ---    ┆ ---      ┆ ---                        ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                 │
│ u32    ┆ i64    ┆ i64      ┆ str                        ┆     ┆ str      ┆ str  ┆ i64  ┆ str                 │
╞════════╪════════╪══════════╪════════════════════════════╪═════╪══════════╪══════╪══════╪═════════════════════╡
│ 3      ┆ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /      │
│        ┆        ┆          ┆ Creig...                   ┆     ┆          ┆      ┆      ┆ Chesterville, ON    │
│ 4      ┆ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C   ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /      │
│        ┆        ┆          ┆ (Bessie...                 ┆     ┆          ┆      ┆      ┆ Chesterville, ON    │
│ 5      ┆ 1      ┆ 1        ┆ Anderson, Mr. Harry        ┆ ... ┆ S        ┆ 3    ┆ null ┆ New York, NY        │
│ 6      ┆ 1      ┆ 1        ┆ Andrews, Miss. Kornelia    ┆ ... ┆ S        ┆ 10   ┆ null ┆ Hudson, NY          │
│        ┆        ┆          ┆ Theodosi...                ┆     ┆          ┆      ┆      ┆                     │
│ 7      ┆ 1      ┆ 0        ┆ Andrews, Mr. Thomas Jr     ┆ ... ┆ S        ┆ null ┆ null ┆ Belfast, NI         │
│ 8      ┆ 1      ┆ 1        ┆ Appleton, Mrs. Edward Dale ┆ ... ┆ S        ┆ D    ┆ null ┆ Bayside, Queens, NY │
│        ┆        ┆          ┆ (Char...                   ┆     ┆          ┆      ┆      ┆                     │
│ 9      ┆ 1      ┆ 0        ┆ Artagaveytia, Mr. Ramon    ┆ ... ┆ C        ┆ null ┆ 22   ┆ Montevideo, Uruguay │
└────────┴────────┴──────────┴────────────────────────────┴─────┴──────────┴──────┴──────┴─────────────────────┘

In [ ]:
# 【23】
# selectを使ってdf全体を表示
print(ans[23]) #解答表示
df = initialize1() #初期化

df.select(pl.all())

[answer23]

df.select(pl.all())


----------------------------------------------

[Tips]
・select(pl.all())でdataframeのすべての列を抽出することができる

----------------------------------------------

[参考] pandas記法

df.loc[:,:]

shape: (1309, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ ...    ┆ ...      ┆ ...                                   ┆ ...    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...              │
│ 3      ┆ 0        ┆ Zabour, Miss. Thamine                 ┆ female ┆ ... ┆ C        ┆ null ┆ null ┆ null             │
│ 3      ┆ 0        ┆ Zakarian, Mr. Mapriededer             ┆ male   ┆ ... ┆ C        ┆ null ┆ 304  ┆ null             │
│ 3      ┆ 0        ┆ Zakarian, Mr. Ortin                   ┆ male   ┆ ... ┆ C        ┆ null ┆ null ┆ null             │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo                    ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【24】
# dfのnameからcabinまでの列を5行目まで表示
print(ans[24]) #解答表示
df = initialize1() #初期化

df.select(df.columns[2:10])[:5]

[answer24]

df.select(df.columns[2:10])[:5]

[別解]

df.select(df.columns[df.find_idx_by_name('name'):df.find_idx_by_name('cabin')+1])[:5]

[別解2]

df[:5, 'name':'cabin']

----------------------------------------------

[Tips]
・find_idx_by_name('列名')で列番号を指定することも可能
・Polarsでも別解2のようにpandasのような記法は可能であるが
　非推奨。将来的なバージョンアップで使用できなくなる可能性ありとのこと。

----------------------------------------------

[参考] pandas記法

df.loc[:5,'name':'cabin']

shape: (5, 8)
┌─────────────────────────────────────┬────────┬──────┬───────┬───────┬────────┬──────────┬─────────┐
│ name                                ┆ sex    ┆ age  ┆ sibsp ┆ parch ┆ ticket ┆ fare     ┆ cabin   │
│ ---                                 ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---    ┆ ---      ┆ ---     │
│ str                                 ┆ str    ┆ f64  ┆ i64   ┆ i64   ┆ str    ┆ f64      ┆ str     │
╞═════════════════════════════════════╪════════╪══════╪═══════╪═══════╪════════╪══════════╪═════════╡
│ Allen, Miss. Elisabeth Walton       ┆ female ┆ 29.0 ┆ 0     ┆ 0     ┆ 24160  ┆ 211.3375 ┆ B5      │
│ Allison, Master. Hudson Trevor      ┆ male   ┆ 0.92 ┆ 1     ┆ 2     ┆ 113781 ┆ 151.55   ┆ C22 C26 │
│ Allison, Miss. Helen Loraine        ┆ female ┆ 2.0  ┆ 1     ┆ 2     ┆ 113781 ┆ 151.55   ┆ C22 C26 │
│ Allison, Mr. Hudson Joshua Creig... ┆ male   ┆ 30.0 ┆ 1     ┆ 2     ┆ 113781 ┆ 151.55   ┆ C22 C26 │
│ Allison, Mrs. Hudson J C (Bessie... ┆ female ┆ 25.0 ┆ 1     ┆ 2     ┆ 113781 ┆ 151.55   ┆ C22 C26 │
└─────────────────────────────────────┴────────┴──────┴───────┴───────┴────────┴──────────┴─────────┘

In [ ]:
# 【25】
# dfのname,age,sexの列のみ抽出しdf_copyに格納
# その後outputフォルダにcsvファイルで出力
# 出力ファイル名はsample.csv
print(ans[25]) #解答表示
df = initialize1() #初期化

df_copy = df.select(['name', 'age', 'sex'])
df_copy.write_csv('../output/sample.csv')

[answer25]

df_copy = df.select(['name', 'age', 'sex'])
df_copy.write_csv('../output/sample.csv')


----------------------------------------------

[Tips]
・write_csvでcsv形式で出力
・列名を削除して出力したいときは
　has_header=Falseをつける
・エンコード形式はutf8のみ

----------------------------------------------

[参考] pandas記法

df_copy = df[['name','age','sex']]
df_copy.to_csv('../output/sample.csv')

In [ ]:
# 【26】
# dfのage列の値が30以上のデータのみ抽出
print(ans[26]) #解答表示
df = initialize1() #初期化

df.filter(pl.col('age') >= 30)

[answer26]

df.filter(pl.col('age') >= 30)


----------------------------------------------

[Tips]
・特定の条件でデータを抽出したい場合には filterを使用する
（pandasのqueryのようなイメージ）

----------------------------------------------

[参考] pandas記法

df[df['age'] >= 30]

shape: (477, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 1        ┆ Anderson, Mr. Harry                   ┆ male   ┆ ... ┆ S        ┆ 3    ┆ null ┆ New York, NY     │
│ 1      ┆ 1        ┆ Andrews, Miss. Kornelia Theodosi...   ┆ female ┆ ... ┆ S        ┆ 10   ┆ null ┆ Hudson, NY       │
│ 1      ┆ 0        ┆ Andrews, Mr. Thomas Jr                ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ Belfast, NI      │
│ ...    ┆ ...      ┆ ...                                   ┆ ...    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...              │
│ 3      ┆ 0        ┆ Widegren, Mr. Carl/Charles Peter      ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
│ 3      ┆ 1        ┆ Wilkes, Mrs. James (Ellen Needs)      ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
│ 3      ┆ 0        ┆ Wittevrongel, Mr. Camille             ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
│ 3      ┆ 0        ┆ Youseff, Mr. Gerious                  ┆ male   ┆ ... ┆ C        ┆ null ┆ 312  ┆ null             │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【27】
# dfのsex列がfemaleのデータのみ抽出
print(ans[27]) #解答表示
df = initialize1() #初期化

df.filter(pl.col('sex')=='female')

[answer27]

df.filter(pl.col('sex')=='female')


----------------------------------------------

[Tips]
・特定の条件でデータを抽出したい場合には filterを使用する
（pandasのqueryのようなイメージ）

----------------------------------------------

[参考] pandas記法

df[df['sex'] == 'female']

shape: (466, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 1        ┆ Andrews, Miss. Kornelia Theodosi...   ┆ female ┆ ... ┆ S        ┆ 10   ┆ null ┆ Hudson, NY       │
│ ...    ┆ ...      ┆ ...                                   ┆ ...    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...              │
│ 3      ┆ 1        ┆ Wilkes, Mrs. James (Ellen Needs)      ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
│ 3      ┆ 1        ┆ Yasbeck, Mrs. Antoni (Selini Ale...   ┆ female ┆ ... ┆ C        ┆ null ┆ null ┆ null             │
│ 3      ┆ 0        ┆ Zabour, Miss. Hileni                  ┆ female ┆ ... ┆ C        ┆ null ┆ 328  ┆ null             │
│ 3      ┆ 0        ┆ Zabour, Miss. Thamine                 ┆ female ┆ ... ┆ C        ┆ null ┆ null ┆ null             │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【28】
# dfのsex列がfemaleでかつageが40以上のデータのみ抽出
print(ans[28]) #解答表示
df = initialize1() #初期化

df.filter((pl.col('sex')=='female') & (pl.col('age') >= 40))

[answer28]

df.filter((pl.col('sex')=='female') & (pl.col('age') >= 40))


----------------------------------------------

[Tips]
・特定の条件でデータを抽出したい場合には filterを使用する
（pandasのqueryのようなイメージ）

----------------------------------------------

[参考] pandas記法

df[(df['sex'] == 'female' ) & (df['age'] >= 40)]

shape: (84, 14)
┌────────┬──────────┬────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬─────────────────────┐
│ pclass ┆ survived ┆ name                               ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest           │
│ ---    ┆ ---      ┆ ---                                ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                 │
│ i64    ┆ i64      ┆ str                                ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str                 │
╞════════╪══════════╪════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪═════════════════════╡
│ 1      ┆ 1        ┆ Andrews, Miss. Kornelia            ┆ female ┆ ... ┆ S        ┆ 10   ┆ null ┆ Hudson, NY          │
│        ┆          ┆ Theodosi...                        ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 1      ┆ 1        ┆ Appleton, Mrs. Edward Dale         ┆ female ┆ ... ┆ S        ┆ D    ┆ null ┆ Bayside, Queens, NY │
│        ┆          ┆ (Char...                           ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 1      ┆ 1        ┆ Baxter, Mrs. James (Helene         ┆ female ┆ ... ┆ C        ┆ 6    ┆ null ┆ Montreal, PQ        │
│        ┆          ┆ DeLau...                           ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 1      ┆ 1        ┆ Beckwith, Mrs. Richard Leonard     ┆ female ┆ ... ┆ S        ┆ 5    ┆ null ┆ New York, NY        │
│        ┆          ┆ (...                               ┆        ┆     ┆          ┆      ┆      ┆                     │
│ ...    ┆ ...      ┆ ...                                ┆ ...    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...                 │
│ 3      ┆ 0        ┆ Rosblom, Mrs. Viktor (Helena       ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null                │
│        ┆          ┆ Wil...                             ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 3      ┆ 0        ┆ Skoog, Mrs. William (Anna          ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null                │
│        ┆          ┆ Bernha...                          ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 3      ┆ 1        ┆ Turkula, Mrs. (Hedwig)             ┆ female ┆ ... ┆ S        ┆ 15   ┆ null ┆ null                │
│ 3      ┆ 1        ┆ Wilkes, Mrs. James (Ellen Needs)   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null                │
└────────┴──────────┴────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴─────────────────────┘

In [ ]:
# 【29】
# dfのsex列がfemaleでかつageが40以上のデータを
# 等号、不等号を使わずに抽出
print(ans[29]) #解答表示
df = initialize1() #初期化

df.filter(pl.col('sex').eq('female') & pl.col('age').ge(40))

[answer29]

df.filter(pl.col('sex').eq('female') & pl.col('age').ge(40))


----------------------------------------------

[Tips]
・等号、不等号を使わないで条件指定することも可能

ex)
ageが40に等しい pl.col('age').eq(40)　（eq: equal）
ageが40以上　　 pl.col('age').ge(40)　（ge: greater equal）
ageが40以下　　 pl.col('age').le(40)　（le: less equal）
ageが40より大きい　　 pl.col('age').gt(40)　（gt: greater than）
ageが40未満　　 pl.col('age').lt(40)　（lt: less than）

----------------------------------------------

[参考] pandas記法

df[(df['sex'] == 'female' ) & (df['age'] >= 40)]

shape: (84, 14)
┌────────┬──────────┬────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬─────────────────────┐
│ pclass ┆ survived ┆ name                               ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest           │
│ ---    ┆ ---      ┆ ---                                ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                 │
│ i64    ┆ i64      ┆ str                                ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str                 │
╞════════╪══════════╪════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪═════════════════════╡
│ 1      ┆ 1        ┆ Andrews, Miss. Kornelia            ┆ female ┆ ... ┆ S        ┆ 10   ┆ null ┆ Hudson, NY          │
│        ┆          ┆ Theodosi...                        ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 1      ┆ 1        ┆ Appleton, Mrs. Edward Dale         ┆ female ┆ ... ┆ S        ┆ D    ┆ null ┆ Bayside, Queens, NY │
│        ┆          ┆ (Char...                           ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 1      ┆ 1        ┆ Baxter, Mrs. James (Helene         ┆ female ┆ ... ┆ C        ┆ 6    ┆ null ┆ Montreal, PQ        │
│        ┆          ┆ DeLau...                           ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 1      ┆ 1        ┆ Beckwith, Mrs. Richard Leonard     ┆ female ┆ ... ┆ S        ┆ 5    ┆ null ┆ New York, NY        │
│        ┆          ┆ (...                               ┆        ┆     ┆          ┆      ┆      ┆                     │
│ ...    ┆ ...      ┆ ...                                ┆ ...    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...                 │
│ 3      ┆ 0        ┆ Rosblom, Mrs. Viktor (Helena       ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null                │
│        ┆          ┆ Wil...                             ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 3      ┆ 0        ┆ Skoog, Mrs. William (Anna          ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null                │
│        ┆          ┆ Bernha...                          ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 3      ┆ 1        ┆ Turkula, Mrs. (Hedwig)             ┆ female ┆ ... ┆ S        ┆ 15   ┆ null ┆ null                │
│ 3      ┆ 1        ┆ Wilkes, Mrs. James (Ellen Needs)   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null                │
└────────┴──────────┴────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴─────────────────────┘

In [ ]:
# 【30】
# dfのcabin列がnullでないデータを抽出
print(ans[30]) #解答表示
df = initialize1() #初期化

df.filter(~pl.col('cabin').is_null())

[answer30]

df.filter(~pl.col('cabin').is_null())


----------------------------------------------

[Tips]
・is_null()で値がnullの行を抽出することができる
・「~」を付加することでnot条件にすることができる
　（今回の場合、「nullを含まない」という条件になっている）

----------------------------------------------

[参考] pandas記法

df[~df['cabin'].isnull()]

shape: (295, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ ...    ┆ ...      ┆ ...                                   ┆ ...    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...              │
│ 3      ┆ 0        ┆ Soholt, Mr. Peter Andreas Laurit...   ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
│ 3      ┆ 0        ┆ Strom, Miss. Telma Matilda            ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
│ 3      ┆ 0        ┆ Strom, Mrs. Wilhelm (Elna Matild...   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
│ 3      ┆ 0        ┆ Tobin, Mr. Roger                      ┆ male   ┆ ... ┆ Q        ┆ null ┆ null ┆ null             │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【31】
# dfのage列が10以上、40以下のデータを
# 等号、不等号を使わずに抽出
print(ans[31]) #解答表示
df = initialize1() #初期化

df.filter(pl.col('age').is_between(10,40))

[answer31]

df.filter(pl.col('age').is_between(10,40))


----------------------------------------------

[Tips]
・is_between(a, b)で「数値がa以上かつb以下」という条件を指定できる
・FuterWarningが表示されるため、将来的に仕様変更がある可能性あり

----------------------------------------------

[参考] pandas記法


df[df['age'].between(10,40)]

C:\Users\owner\anaconda3\lib\site-packages\polars\internals\expr\expr.py:3524: FutureWarning: Default behaviour will change from excluding both bounds to including both bounds. Provide a value for the `closed` argument to silence this warning.
  category=FutureWarning,

shape: (715, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Andrews, Mr. Thomas Jr                ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ Belfast, NI      │
│ ...    ┆ ...      ┆ ...                                   ┆ ...    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...              │
│ 3      ┆ 0        ┆ Zabour, Miss. Hileni                  ┆ female ┆ ... ┆ C        ┆ null ┆ 328  ┆ null             │
│ 3      ┆ 0        ┆ Zakarian, Mr. Mapriededer             ┆ male   ┆ ... ┆ C        ┆ null ┆ 304  ┆ null             │
│ 3      ┆ 0        ┆ Zakarian, Mr. Ortin                   ┆ male   ┆ ... ┆ C        ┆ null ┆ null ┆ null             │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo                    ┆ male   ┆ ... ┆ S        ┆ null ┆ null ┆ null             │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【32】
# dfのname列に文字列「Mrs」が含まれるデータを表示
print(ans[32]) #解答表示
df = initialize1() #初期化

df.filter(pl.col('name').str.contains('Mrs'))

[answer32]

df.filter(pl.col('name').str.contains('Mrs'))


----------------------------------------------

[Tips]
特定の文字列を含むデータを抽出したいときは
str.contains('文字列')を条件に指定する

----------------------------------------------

[参考] pandas記法

df.query('name.str.contains("Mrs")', engine='python')

shape: (201, 14)
┌────────┬──────────┬────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬─────────────────────┐
│ pclass ┆ survived ┆ name                               ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest           │
│ ---    ┆ ---      ┆ ---                                ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                 │
│ i64    ┆ i64      ┆ str                                ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str                 │
╞════════╪══════════╪════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪═════════════════════╡
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C           ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /      │
│        ┆          ┆ (Bessie...                         ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON    │
│ 1      ┆ 1        ┆ Appleton, Mrs. Edward Dale         ┆ female ┆ ... ┆ S        ┆ D    ┆ null ┆ Bayside, Queens, NY │
│        ┆          ┆ (Char...                           ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 1      ┆ 1        ┆ Astor, Mrs. John Jacob             ┆ female ┆ ... ┆ C        ┆ 4    ┆ null ┆ New York, NY        │
│        ┆          ┆ (Madelein...                       ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 1      ┆ 1        ┆ Baxter, Mrs. James (Helene         ┆ female ┆ ... ┆ C        ┆ 6    ┆ null ┆ Montreal, PQ        │
│        ┆          ┆ DeLau...                           ┆        ┆     ┆          ┆      ┆      ┆                     │
│ ...    ┆ ...      ┆ ...                                ┆ ...    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...                 │
│ 3      ┆ 0        ┆ Vander Planke, Mrs. Julius         ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null                │
│        ┆          ┆ (Emel...                           ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 3      ┆ 1        ┆ Whabee, Mrs. George Joseph         ┆ female ┆ ... ┆ C        ┆ C    ┆ null ┆ null                │
│        ┆          ┆ (Shaw...                           ┆        ┆     ┆          ┆      ┆      ┆                     │
│ 3      ┆ 1        ┆ Wilkes, Mrs. James (Ellen Needs)   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ null                │
│ 3      ┆ 1        ┆ Yasbeck, Mrs. Antoni (Selini       ┆ female ┆ ... ┆ C        ┆ null ┆ null ┆ null                │
│        ┆          ┆ Ale...                             ┆        ┆     ┆          ┆      ┆      ┆                     │
└────────┴──────────┴────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴─────────────────────┘

In [ ]:
# 【33】
# dfの中で文字列型の列のみを表示
print(ans[33]) #解答表示
df = initialize1() #初期化

df.select(pl.col(pl.Utf8))

[answer33]

df.select(pl.col(pl.Utf8))


----------------------------------------------

[Tips]
・特定のデータ型の列を抽出したい時は
　select(pl.col('データ型'))のように書く
・文字列型を以外の列を抽出した時はexcludeを用いて
　以下のように書く

df.select(pl.all().exclude(pl.Utf8))

----------------------------------------------

[参考] pandas記法

df.select_dtypes(include='object')

shape: (1309, 7)
┌─────────────────────────────────────┬────────┬────────┬─────────┬──────────┬──────┬─────────────────────────────────┐
│ name                                ┆ sex    ┆ ticket ┆ cabin   ┆ embarked ┆ boat ┆ home.dest                       │
│ ---                                 ┆ ---    ┆ ---    ┆ ---     ┆ ---      ┆ ---  ┆ ---                             │
│ str                                 ┆ str    ┆ str    ┆ str     ┆ str      ┆ str  ┆ str                             │
╞═════════════════════════════════════╪════════╪════════╪═════════╪══════════╪══════╪═════════════════════════════════╡
│ Allen, Miss. Elisabeth Walton       ┆ female ┆ 24160  ┆ B5      ┆ S        ┆ 2    ┆ St Louis, MO                    │
│ Allison, Master. Hudson Trevor      ┆ male   ┆ 113781 ┆ C22 C26 ┆ S        ┆ 11   ┆ Montreal, PQ / Chesterville, ON │
│ Allison, Miss. Helen Loraine        ┆ female ┆ 113781 ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ / Chesterville, ON │
│ Allison, Mr. Hudson Joshua Creig... ┆ male   ┆ 113781 ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ / Chesterville, ON │
│ ...                                 ┆ ...    ┆ ...    ┆ ...     ┆ ...      ┆ ...  ┆ ...                             │
│ Zabour, Miss. Thamine               ┆ female ┆ 2665   ┆ null    ┆ C        ┆ null ┆ null                            │
│ Zakarian, Mr. Mapriededer           ┆ male   ┆ 2656   ┆ null    ┆ C        ┆ null ┆ null                            │
│ Zakarian, Mr. Ortin                 ┆ male   ┆ 2670   ┆ null    ┆ C        ┆ null ┆ null                            │
│ Zimmerman, Mr. Leo                  ┆ male   ┆ 315082 ┆ null    ┆ S        ┆ null ┆ null                            │
└─────────────────────────────────────┴────────┴────────┴─────────┴──────────┴──────┴─────────────────────────────────┘

In [ ]:
# 【34】
# dfの各列の要素数の確認
print(ans[34]) #解答表示
df = initialize1() #初期化

for col in df.columns:
    print(col, df[col].n_unique())

[answer34]

for col in df.columns:
    print(col, df[col].n_unique())


----------------------------------------------

[Tips]
・ユニークな要素数の確認にはn_nunique()を使用
・なお、Polarsでのnunique()は重複削除のメソッドに
　なっているので注意（pandasのdrop_duplicates()に相当）

----------------------------------------------

[参考] pandas記法

df.nunique()


pclass 3
survived 2
name 1307
sex 2
age 99
sibsp 7
parch 8
ticket 929
fare 282
cabin 187
embarked 4
boat 28
body 122
home.dest 370

In [ ]:
# 【35】
# dfのembarked列の要素と出現回数の確認
print(ans[35]) #解答表示
df = initialize1() #初期化

df.get_column('embarked').value_counts()

[answer35]

df.get_column('embarked').value_counts()


----------------------------------------------

[Tips]
・ユニークな要素と出現数を確認するには
　value_counts()を使用
・なお、selectを用いて書きたい場合は以下のようになる

df.select('embarked').to_series().value_counts()

----------------------------------------------

[参考] pandas記法

df['embarked'].value_counts()

shape: (4, 2)
┌──────────┬────────┐
│ embarked ┆ counts │
│ ---      ┆ ---    │
│ str      ┆ u32    │
╞══════════╪════════╡
│ S        ┆ 914    │
│ Q        ┆ 123    │
│ C        ┆ 270    │
│ null     ┆ 2      │
└──────────┴────────┘

In [ ]:
# 【36】
# dfのすべての列の要素と出現回数の確認
print(ans[36]) #解答表示
df = initialize1() #初期化

for col in df.get_columns():
    display(col.value_counts())

[answer36]

for col in df.get_columns():
    display(col.value_counts())


----------------------------------------------

[Tips]
・get_columns()を用いるとdataframe内の列を
　リストで取得できる（print(df.get_columns()を
　実行してみるとリストになっています)）
・解答内のdisplayはprintでも問題ないです（dataframeで出力したときは
　display、文字列で出力したい場合はprint）print出力が見づらいときは
　display出力を試してみて下さい
・get_columns()[列番号]と書くと特定の列をseriesとして
　抽出できる

----------------------------------------------

[参考] pandas記法


for col in df.columns.to_list():
    display(df[col].value_counts())

shape: (3, 2)
┌────────┬────────┐
│ pclass ┆ counts │
│ ---    ┆ ---    │
│ i64    ┆ u32    │
╞════════╪════════╡
│ 3      ┆ 709    │
│ 2      ┆ 277    │
│ 1      ┆ 323    │
└────────┴────────┘

shape: (2, 2)
┌──────────┬────────┐
│ survived ┆ counts │
│ ---      ┆ ---    │
│ i64      ┆ u32    │
╞══════════╪════════╡
│ 0        ┆ 809    │
│ 1        ┆ 500    │
└──────────┴────────┘

shape: (1307, 2)
┌─────────────────────────────────────┬────────┐
│ name                                ┆ counts │
│ ---                                 ┆ ---    │
│ str                                 ┆ u32    │
╞═════════════════════════════════════╪════════╡
│ Jalsevac, Mr. Ivan                  ┆ 1      │
│ Cann, Mr. Ernest Charles            ┆ 1      │
│ Wheeler, Mr. Edwin "Frederick"      ┆ 1      │
│ Hosono, Mr. Masabumi                ┆ 1      │
│ ...                                 ┆ ...    │
│ Nakid, Mrs. Said (Waika "Mary" M... ┆ 1      │
│ van Billiard, Mr. Austin Blyler     ┆ 1      │
│ Sadlier, Mr. Matthew                ┆ 1      │
│ Pulbaum, Mr. Franz                  ┆ 1      │
└─────────────────────────────────────┴────────┘

shape: (2, 2)
┌────────┬────────┐
│ sex    ┆ counts │
│ ---    ┆ ---    │
│ str    ┆ u32    │
╞════════╪════════╡
│ female ┆ 466    │
│ male   ┆ 843    │
└────────┴────────┘

shape: (99, 2)
┌──────┬────────┐
│ age  ┆ counts │
│ ---  ┆ ---    │
│ f64  ┆ u32    │
╞══════╪════════╡
│ 19.0 ┆ 29     │
│ 4.0  ┆ 10     │
│ 67.0 ┆ 1      │
│ 36.0 ┆ 31     │
│ ...  ┆ ...    │
│ 0.33 ┆ 1      │
│ 0.67 ┆ 1      │
│ 0.92 ┆ 2      │
│ 0.42 ┆ 1      │
└──────┴────────┘

shape: (7, 2)
┌───────┬────────┐
│ sibsp ┆ counts │
│ ---   ┆ ---    │
│ i64   ┆ u32    │
╞═══════╪════════╡
│ 4     ┆ 22     │
│ 8     ┆ 9      │
│ 0     ┆ 891    │
│ 3     ┆ 20     │
│ 2     ┆ 42     │
│ 5     ┆ 6      │
│ 1     ┆ 319    │
└───────┴────────┘

shape: (8, 2)
┌───────┬────────┐
│ parch ┆ counts │
│ ---   ┆ ---    │
│ i64   ┆ u32    │
╞═══════╪════════╡
│ 0     ┆ 1002   │
│ 4     ┆ 6      │
│ 3     ┆ 8      │
│ 2     ┆ 113    │
│ 6     ┆ 2      │
│ 5     ┆ 6      │
│ 1     ┆ 170    │
│ 9     ┆ 2      │
└───────┴────────┘

shape: (929, 2)
┌───────────────────┬────────┐
│ ticket            ┆ counts │
│ ---               ┆ ---    │
│ str               ┆ u32    │
╞═══════════════════╪════════╡
│ C 4001            ┆ 3      │
│ 65303             ┆ 1      │
│ 112058            ┆ 2      │
│ SOTON/O.Q. 392078 ┆ 1      │
│ ...               ┆ ...    │
│ A.5. 3236         ┆ 1      │
│ 111427            ┆ 1      │
│ 349220            ┆ 1      │
│ PC 17477          ┆ 2      │
└───────────────────┴────────┘

shape: (282, 2)
┌─────────┬────────┐
│ fare    ┆ counts │
│ ---     ┆ ---    │
│ f64     ┆ u32    │
╞═════════╪════════╡
│ 134.5   ┆ 5      │
│ 90.0    ┆ 5      │
│ 9.4833  ┆ 1      │
│ 50.4958 ┆ 2      │
│ ...     ┆ ...    │
│ 7.7292  ┆ 1      │
│ 12.65   ┆ 1      │
│ 26.55   ┆ 22     │
│ 15.9    ┆ 3      │
└─────────┴────────┘

shape: (187, 2)
┌─────────┬────────┐
│ cabin   ┆ counts │
│ ---     ┆ ---    │
│ str     ┆ u32    │
╞═════════╪════════╡
│ B37     ┆ 1      │
│ D10 D12 ┆ 2      │
│ D47     ┆ 1      │
│ A19     ┆ 1      │
│ ...     ┆ ...    │
│ D56     ┆ 1      │
│ A21     ┆ 1      │
│ C99     ┆ 1      │
│ A23     ┆ 1      │
└─────────┴────────┘

shape: (4, 2)
┌──────────┬────────┐
│ embarked ┆ counts │
│ ---      ┆ ---    │
│ str      ┆ u32    │
╞══════════╪════════╡
│ S        ┆ 914    │
│ null     ┆ 2      │
│ C        ┆ 270    │
│ Q        ┆ 123    │
└──────────┴────────┘

shape: (28, 2)
┌───────┬────────┐
│ boat  ┆ counts │
│ ---   ┆ ---    │
│ str   ┆ u32    │
╞═══════╪════════╡
│ 8     ┆ 23     │
│ 4     ┆ 31     │
│ 15    ┆ 37     │
│ 13    ┆ 39     │
│ ...   ┆ ...    │
│ 3     ┆ 26     │
│ 13 15 ┆ 2      │
│ 10    ┆ 29     │
│ 14    ┆ 33     │
└───────┴────────┘

shape: (122, 2)
┌──────┬────────┐
│ body ┆ counts │
│ ---  ┆ ---    │
│ i64  ┆ u32    │
╞══════╪════════╡
│ 176  ┆ 1      │
│ 80   ┆ 1      │
│ 196  ┆ 1      │
│ 72   ┆ 1      │
│ ...  ┆ ...    │
│ 61   ┆ 1      │
│ 69   ┆ 1      │
│ 309  ┆ 1      │
│ 209  ┆ 1      │
└──────┴────────┘

shape: (370, 2)
┌─────────────────────────────────────┬────────┐
│ home.dest                           ┆ counts │
│ ---                                 ┆ ---    │
│ str                                 ┆ u32    │
╞═════════════════════════════════════╪════════╡
│ Denver, CO                          ┆ 1      │
│ London Skanteales, NY               ┆ 1      │
│ Worcester, MA                       ┆ 2      │
│ Guernsey / Montclair, NJ and/or ... ┆ 1      │
│ ...                                 ┆ ...    │
│ Antwerp, Belgium / Stanton, OH      ┆ 1      │
│ Birkdale, England Cleveland, Ohi... ┆ 1      │
│ Krakoryd, Sweden Bloomington, IL    ┆ 1      │
│ Berne, Switzerland / Central Cit... ┆ 1      │
└─────────────────────────────────────┴────────┘

# データ加工 (37 - 72)

In [ ]:
# 【37】
# dfに with_row_count()でインデックスを振り
# row_nr列が「3」のage列を30から40に変更し、
# 先頭の5行を表示
print(ans[37]) #解答表示
df = initialize1() #初期化

df = df.with_row_count().with_column(pl.when(pl.col('row_nr')==3).then(40).otherwise(pl.col('age')).alias('age'))
df.head()

[answer37]

df = df.with_row_count().with_column(pl.when(pl.col('row_nr')==3).then(40).otherwise(pl.col('age')).alias('age'))
df.head()


----------------------------------------------

[Tips]
・when(条件).then(a).otherwise(b)で「条件に合致した場合は値aに、
　合致しない場合は値bに置換する」という操作ができます
・when(条件1).then(a).when(条件2).then(b)otherwise(c)というように
　書くことも可能です（次の問題を参照）

----------------------------------------------

[参考] pandas記法

df.loc[3,'age'] = 40
df.head()

shape: (5, 15)
┌────────┬────────┬──────────┬───────────────────────────────────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ row_nr ┆ pclass ┆ survived ┆ name                                  ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---    ┆ ---      ┆ ---                                   ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ u32    ┆ i64    ┆ i64      ┆ str                                   ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪════════╪══════════╪═══════════════════════════════════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 0      ┆ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆        ┆          ┆                                       ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 2      ┆ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆        ┆          ┆                                       ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 3      ┆ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆        ┆          ┆                                       ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 4      ┆ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...   ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆        ┆          ┆                                       ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴────────┴──────────┴───────────────────────────────────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【38】
# dfのsex列にてmale→0、femlae→1に
# 変更し、先頭の5行を表示
print(ans[38]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.when(pl.col('sex')=='male').then(0)
                        .when(pl.col('sex')=='female').then(1)
                        .otherwise(pl.col('sex')).cast(pl.Int64).alias('sex')
                      )
df.head()

[answer38]

df = df.with_column(pl.when(pl.col('sex')=='male').then(0)
                        .when(pl.col('sex')=='female').then(1)
                        .otherwise(pl.col('sex')).cast(pl.Int64).alias('sex')
                      )
df.head()


----------------------------------------------

[Tips]
・「'male'に該当する場合は0に、'female'に該当する場合は1に置換し、どちらにも
　該当しない場合は元のデータを保持する」という解答になっています

----------------------------------------------

[参考] pandas記法

df['sex'][df['sex'] == 'male'] = 0
df['sex'][df['sex'] == 'female'] = 1
df.head()

shape: (5, 14)
┌────────┬──────────┬──────────────────────────────┬─────┬─────┬──────────┬──────┬──────┬──────────────────────────────┐
│ pclass ┆ survived ┆ name                         ┆ sex ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest                    │
│ ---    ┆ ---      ┆ ---                          ┆ --- ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                          │
│ i64    ┆ i64      ┆ str                          ┆ i64 ┆     ┆ str      ┆ str  ┆ i64  ┆ str                          │
╞════════╪══════════╪══════════════════════════════╪═════╪═════╪══════════╪══════╪══════╪══════════════════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth       ┆ 1   ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO                 │
│        ┆          ┆ Walton                       ┆     ┆     ┆          ┆      ┆      ┆                              │
│ 1      ┆ 1        ┆ Allison, Master. Hudson      ┆ 0   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ Trevor                       ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine ┆ 1   ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆                              ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua   ┆ 0   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ Creig...                     ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C     ┆ 1   ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ (Bessie...                   ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
└────────┴──────────┴──────────────────────────────┴─────┴─────┴──────────┴──────┴──────┴──────────────────────────────┘

In [ ]:
# 【39】
# dfのfare列に100を足して、
# 先頭の5行を表示
print(ans[39]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.col('fare') + 100)
df.head()

[answer39]

df = df.with_column(pl.col('fare') + 100)
df.head()


----------------------------------------------

[Tips]
・with_column()を使用して既存列への処理が可能
・新しい列として追加したい場合は以下のように書く

df = df.with_column((pl.col('fare') + 100).alias('fare2'))

----------------------------------------------

[参考] pandas記法

df['fare'] = df['fare'] + 100
df.head()

shape: (5, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【40】
# dfのfare列に2を掛けて、
# 先頭の5行を表示
print(ans[40]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.col('fare') * 2)
df.head()

[answer40]

df = df.with_column(pl.col('fare') * 2)
df.head()


----------------------------------------------

[Tips]
・with_column()を使用して既存列への処理が可能

----------------------------------------------

[参考] pandas記法

df['fare'] = df['fare'] * 2
df.head()

shape: (5, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【41】
# dfのfare列に2を掛けて、
# age列に3を足して
# 先頭の5行を表示
print(ans[41]) #解答表示
df = initialize1() #初期化

df = df.with_columns([pl.col('fare') * 2, pl.col('age')+3])
df.head()

[answer41]

df = df.with_columns([pl.col('fare') * 2, pl.col('age')+3])
df.head()


----------------------------------------------

[Tips]
・with_column()を使用して複数列に対して処理することも可能

----------------------------------------------

[参考] pandas記法


df['fare'] = df['fare'] * 2
df['age'] = df['age'] + 3
df.head()

shape: (5, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【42】
# applyを用いてdfのfare列に2を掛けて、
# age列に1を足して
# 先頭の5行を表示
print(ans[42]) #解答表示
df = initialize1() #初期化

df.apply(lambda x: (x[df.find_idx_by_name('parch')] * 2, x[df.find_idx_by_name('sibsp')] + 1))

[answer42]

df.apply(lambda x: (x[df.find_idx_by_name('parch')] * 2, x[df.find_idx_by_name('sibsp')] + 1))


----------------------------------------------

[Tips]
・apply(lambda x: (x[n] + 1))のように処理を書くことができる
　（nは処理したい列の番号）
・find_idx_by_name('列名')で列番号を取得することもできる

----------------------------------------------

[参考] pandas記法


df['parch'] = df['parch'].apply(lambda x: x * 2)
df['sibsp'] = df['sibsp'].apply(lambda x: x + 1)
df.head()

shape: (1309, 2)
┌──────────┬──────────┐
│ column_0 ┆ column_1 │
│ ---      ┆ ---      │
│ i64      ┆ i64      │
╞══════════╪══════════╡
│ 0        ┆ 1        │
│ 4        ┆ 2        │
│ 4        ┆ 2        │
│ 4        ┆ 2        │
│ ...      ┆ ...      │
│ 0        ┆ 2        │
│ 0        ┆ 1        │
│ 0        ┆ 1        │
│ 0        ┆ 1        │
└──────────┴──────────┘

In [ ]:
# 【43】
# dfのfare列を小数点以下で丸めて、先頭の5行を表示
print(ans[43]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.col('fare').round(0))
df.head()

[answer43]

df = df.with_column(pl.col('fare').round(0))
df.head()


----------------------------------------------

[Tips]
・小数点以下を丸めるときは round() を使用する
・丸めるとは0.5より小さいときは切り捨て、0.5より大きい
　ときは切り上げること(ちょうど0.5のときは、結果が偶数と
　なるように切り捨て・切り上げを行う)
・()に整数nを渡すと、小数点以下n桁に丸める
・()に-1を指定すると10の位、-2を指定すると100の
　位に丸められる

ex)
f.with_column(pl.col('fare').round(2)) 小数点2桁に丸める
123.456　→　123.46

f.with_column(pl.col('fare').round(-2)) 整数2桁に丸める
123.456　→　100.0

----------------------------------------------

[参考] pandas記法

df['fare'] = df['fare'].round()
df.head()

shape: (5, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ female ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...   ┆ female ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【44】
# dfに列名「test」で値がすべて1の
# カラムを追加し、先頭の5行を表示
print(ans[44]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.lit(1).alias('test'))
df.head()

[answer44]

df = df.with_column(pl.lit(1).alias('test'))
df.head()


----------------------------------------------

[Tips]
・with_column()を新しい列を追加することができる
・pl.lit(1).alias('test')とすることで「新しくtestという
　列を作成し、すべての行に1を代入する」という操作になる

----------------------------------------------

[参考] pandas記法

df['test'] = 1
df.head()

shape: (5, 15)
┌────────┬──────────┬───────────────────────────────┬────────┬─────┬──────┬──────┬──────────────────────────────┬──────┐
│ pclass ┆ survived ┆ name                          ┆ sex    ┆ ... ┆ boat ┆ body ┆ home.dest                    ┆ test │
│ ---    ┆ ---      ┆ ---                           ┆ ---    ┆     ┆ ---  ┆ ---  ┆ ---                          ┆ ---  │
│ i64    ┆ i64      ┆ str                           ┆ str    ┆     ┆ str  ┆ i64  ┆ str                          ┆ i32  │
╞════════╪══════════╪═══════════════════════════════╪════════╪═════╪══════╪══════╪══════════════════════════════╪══════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton ┆ female ┆ ... ┆ 2    ┆ null ┆ St Louis, MO                 ┆ 1    │
│ 1      ┆ 1        ┆ Allison, Master. Hudson       ┆ male   ┆ ... ┆ 11   ┆ null ┆ Montreal, PQ / Chesterville, ┆ 1    │
│        ┆          ┆ Trevor                        ┆        ┆     ┆      ┆      ┆ ON                           ┆      │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine  ┆ female ┆ ... ┆ null ┆ null ┆ Montreal, PQ / Chesterville, ┆ 1    │
│        ┆          ┆                               ┆        ┆     ┆      ┆      ┆ ON                           ┆      │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua    ┆ male   ┆ ... ┆ null ┆ 135  ┆ Montreal, PQ / Chesterville, ┆ 1    │
│        ┆          ┆ Creig...                      ┆        ┆     ┆      ┆      ┆ ON                           ┆      │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C      ┆ female ┆ ... ┆ null ┆ null ┆ Montreal, PQ / Chesterville, ┆ 1    │
│        ┆          ┆ (Bessie...                    ┆        ┆     ┆      ┆      ┆ ON                           ┆      │
└────────┴──────────┴───────────────────────────────┴────────┴─────┴──────┴──────┴──────────────────────────────┴──────┘

In [ ]:
# 【45】
# dfに列名「test」で値がすべて1の
# カラムと列名「test2」で値がすべてnullの
# カラムを追加し、先頭の5行を表示
print(ans[45]) #解答表示
df = initialize1() #初期化

df = df.with_columns([pl.lit(1).alias('test'), pl.lit(None).alias('test2')])
df.head()

[answer45]

df = df.with_columns([pl.lit(1).alias('test'), pl.lit(None).alias('test2')])
df.head()


----------------------------------------------

[Tips]
・with_column()を新しい列を複数追加することもできる

----------------------------------------------

[参考] pandas記法


df['test'] = 1
df['test2'] = None
df.head()

shape: (5, 16)
┌────────┬──────────┬──────────────────────────────┬────────┬─────┬──────┬──────────────────────────────┬──────┬───────┐
│ pclass ┆ survived ┆ name                         ┆ sex    ┆ ... ┆ body ┆ home.dest                    ┆ test ┆ test2 │
│ ---    ┆ ---      ┆ ---                          ┆ ---    ┆     ┆ ---  ┆ ---                          ┆ ---  ┆ ---   │
│ i64    ┆ i64      ┆ str                          ┆ str    ┆     ┆ i64  ┆ str                          ┆ i32  ┆ bool  │
╞════════╪══════════╪══════════════════════════════╪════════╪═════╪══════╪══════════════════════════════╪══════╪═══════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth       ┆ female ┆ ... ┆ null ┆ St Louis, MO                 ┆ 1    ┆ null  │
│        ┆          ┆ Walton                       ┆        ┆     ┆      ┆                              ┆      ┆       │
│ 1      ┆ 1        ┆ Allison, Master. Hudson      ┆ male   ┆ ... ┆ null ┆ Montreal, PQ / Chesterville, ┆ 1    ┆ null  │
│        ┆          ┆ Trevor                       ┆        ┆     ┆      ┆ ON                           ┆      ┆       │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine ┆ female ┆ ... ┆ null ┆ Montreal, PQ / Chesterville, ┆ 1    ┆ null  │
│        ┆          ┆                              ┆        ┆     ┆      ┆ ON                           ┆      ┆       │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua   ┆ male   ┆ ... ┆ 135  ┆ Montreal, PQ / Chesterville, ┆ 1    ┆ null  │
│        ┆          ┆ Creig...                     ┆        ┆     ┆      ┆ ON                           ┆      ┆       │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C     ┆ female ┆ ... ┆ null ┆ Montreal, PQ / Chesterville, ┆ 1    ┆ null  │
│        ┆          ┆ (Bessie...                   ┆        ┆     ┆      ┆ ON                           ┆      ┆       │
└────────┴──────────┴──────────────────────────────┴────────┴─────┴──────┴──────────────────────────────┴──────┴───────┘

In [ ]:
# 【46】
# dfにcabinとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
print(ans[46]) #解答表示
df = initialize1() #初期化

df = df.with_column((pl.col('cabin') + '_' + pl.col('embarked')).alias('test'))
df.head()

[answer46]

df = df.with_column((pl.col('cabin') + '_' + pl.col('embarked')).alias('test'))
df.head()

----------------------------------------------

[Tips]
・pl.col('列名1') + 文字列 + pl.col('列名2')で
　特定文字列で列同士を結合することができる

----------------------------------------------

[参考] pandas記法

df['test'] = df['cabin'] + '_' + df['embarked']
df.head()

shape: (5, 15)
┌────────┬──────────┬──────────────────────────────────────┬────────┬─────┬──────┬──────┬──────────────────┬───────────┐
│ pclass ┆ survived ┆ name                                 ┆ sex    ┆ ... ┆ boat ┆ body ┆ home.dest        ┆ test      │
│ ---    ┆ ---      ┆ ---                                  ┆ ---    ┆     ┆ ---  ┆ ---  ┆ ---              ┆ ---       │
│ i64    ┆ i64      ┆ str                                  ┆ str    ┆     ┆ str  ┆ i64  ┆ str              ┆ str       │
╞════════╪══════════╪══════════════════════════════════════╪════════╪═════╪══════╪══════╪══════════════════╪═══════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton        ┆ female ┆ ... ┆ 2    ┆ null ┆ St Louis, MO     ┆ B5_S      │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor       ┆ male   ┆ ... ┆ 11   ┆ null ┆ Montreal, PQ /   ┆ C22 C26_S │
│        ┆          ┆                                      ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆           │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine         ┆ female ┆ ... ┆ null ┆ null ┆ Montreal, PQ /   ┆ C22 C26_S │
│        ┆          ┆                                      ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆           │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...  ┆ male   ┆ ... ┆ null ┆ 135  ┆ Montreal, PQ /   ┆ C22 C26_S │
│        ┆          ┆                                      ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆           │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...  ┆ female ┆ ... ┆ null ┆ null ┆ Montreal, PQ /   ┆ C22 C26_S │
│        ┆          ┆                                      ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆           │
└────────┴──────────┴──────────────────────────────────────┴────────┴─────┴──────┴──────┴──────────────────┴───────────┘

In [ ]:
# 【47】
# dfにageとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
print(ans[47]) #解答表示
df = initialize1() #初期化

df = df.with_column((pl.col('age').cast(pl.Utf8) + '_' + pl.col('embarked')).alias('test'))
df.head()

[answer47]

df = df.with_column((pl.col('age').cast(pl.Utf8) + '_' + pl.col('embarked')).alias('test'))
df.head()

----------------------------------------------

[Tips]
・数値列と文字列を結合する場合は、数値列のほうを文字列型に
　変換して結合する必要あり

----------------------------------------------

[参考] pandas記法

df['test'] = df['age'].astype(str).str.cat(df['embarked'],sep='_')
df.head()

shape: (5, 15)
┌────────┬──────────┬─────────────────────────────────────┬────────┬─────┬──────┬──────┬──────────────────┬────────┐
│ pclass ┆ survived ┆ name                                ┆ sex    ┆ ... ┆ boat ┆ body ┆ home.dest        ┆ test   │
│ ---    ┆ ---      ┆ ---                                 ┆ ---    ┆     ┆ ---  ┆ ---  ┆ ---              ┆ ---    │
│ i64    ┆ i64      ┆ str                                 ┆ str    ┆     ┆ str  ┆ i64  ┆ str              ┆ str    │
╞════════╪══════════╪═════════════════════════════════════╪════════╪═════╪══════╪══════╪══════════════════╪════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton       ┆ female ┆ ... ┆ 2    ┆ null ┆ St Louis, MO     ┆ 29.0_S │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor      ┆ male   ┆ ... ┆ 11   ┆ null ┆ Montreal, PQ /   ┆ 0.92_S │
│        ┆          ┆                                     ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆        │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine        ┆ female ┆ ... ┆ null ┆ null ┆ Montreal, PQ /   ┆ 2.0_S  │
│        ┆          ┆                                     ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆        │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig... ┆ male   ┆ ... ┆ null ┆ 135  ┆ Montreal, PQ /   ┆ 30.0_S │
│        ┆          ┆                                     ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆        │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie... ┆ female ┆ ... ┆ null ┆ null ┆ Montreal, PQ /   ┆ 25.0_S │
│        ┆          ┆                                     ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆        │
└────────┴──────────┴─────────────────────────────────────┴────────┴─────┴──────┴──────┴──────────────────┴────────┘

In [ ]:
# 【48】
# dfにageとembarkedの列をconcat_strを用いて
# 「_」で結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
print(ans[48]) #解答表示
df = initialize1() #初期化

df = df.with_column(
    pl.concat_str(pl.col(["age", "embarked"]), "_")
    .alias("test")
    )
df.head()

[answer48]

df = df.with_column(
    pl.concat_str(pl.col(["age", "embarked"]), "_")
    .alias("test")
    )
df.head()


----------------------------------------------

[Tips]
・concat_strを使用して結合することも可能
・concat_strを用いて結合する場合は、数値列の文字列型への
　変換は不要

----------------------------------------------

[参考] pandas記法


df['test'] = df['age'].astype(str).str.cat(df['embarked'],sep='_')
df.head()

shape: (5, 15)
┌────────┬──────────┬─────────────────────────────────────┬────────┬─────┬──────┬──────┬──────────────────┬────────┐
│ pclass ┆ survived ┆ name                                ┆ sex    ┆ ... ┆ boat ┆ body ┆ home.dest        ┆ test   │
│ ---    ┆ ---      ┆ ---                                 ┆ ---    ┆     ┆ ---  ┆ ---  ┆ ---              ┆ ---    │
│ i64    ┆ i64      ┆ str                                 ┆ str    ┆     ┆ str  ┆ i64  ┆ str              ┆ str    │
╞════════╪══════════╪═════════════════════════════════════╪════════╪═════╪══════╪══════╪══════════════════╪════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton       ┆ female ┆ ... ┆ 2    ┆ null ┆ St Louis, MO     ┆ 29.0_S │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor      ┆ male   ┆ ... ┆ 11   ┆ null ┆ Montreal, PQ /   ┆ 0.92_S │
│        ┆          ┆                                     ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆        │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine        ┆ female ┆ ... ┆ null ┆ null ┆ Montreal, PQ /   ┆ 2.0_S  │
│        ┆          ┆                                     ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆        │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig... ┆ male   ┆ ... ┆ null ┆ 135  ┆ Montreal, PQ /   ┆ 30.0_S │
│        ┆          ┆                                     ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆        │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie... ┆ female ┆ ... ┆ null ┆ null ┆ Montreal, PQ /   ┆ 25.0_S │
│        ┆          ┆                                     ┆        ┆     ┆      ┆      ┆ Chesterville, ON ┆        │
└────────┴──────────┴─────────────────────────────────────┴────────┴─────┴──────┴──────┴──────────────────┴────────┘

In [ ]:
# 【49】
# dfからbodyの列を削除し、最初の5行を表示
print(ans[49]) #解答表示
df = initialize1() #初期化

df.drop_in_place('body')
df.head()

[answer49]

df.drop_in_place('body')
df.head()


[別解]

df = d.drop('body')
df.head()


----------------------------------------------

[Tips]
・行・列の削除をするにはdrop_in_placeを使用

----------------------------------------------

[参考] pandas記法

df = df.drop('body',axis=1)
df.head()

shape: (5, 13)
┌────────┬──────────┬────────────────────────────────┬────────┬─────┬─────────┬──────────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                           ┆ sex    ┆ ... ┆ cabin   ┆ embarked ┆ boat ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                            ┆ ---    ┆     ┆ ---     ┆ ---      ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                            ┆ str    ┆     ┆ str     ┆ str      ┆ str  ┆ str              │
╞════════╪══════════╪════════════════════════════════╪════════╪═════╪═════════╪══════════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton  ┆ female ┆ ... ┆ B5      ┆ S        ┆ 2    ┆ St Louis, MO     │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor ┆ male   ┆ ... ┆ C22 C26 ┆ S        ┆ 11   ┆ Montreal, PQ /   │
│        ┆          ┆                                ┆        ┆     ┆         ┆          ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine   ┆ female ┆ ... ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                ┆        ┆     ┆         ┆          ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua     ┆ male   ┆ ... ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ Creig...                       ┆        ┆     ┆         ┆          ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C       ┆ female ┆ ... ┆ C22 C26 ┆ S        ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆ (Bessie...                     ┆        ┆     ┆         ┆          ┆      ┆ Chesterville, ON │
└────────┴──────────┴────────────────────────────────┴────────┴─────┴─────────┴──────────┴──────┴──────────────────┘

In [ ]:
# 【50】
# dfに with_row_count()でインデックスを振り
# row_nr列が「3」の行を削除し、最初の5行を表示
print(ans[50]) #解答表示
df = initialize1() #初期化

df = df.with_row_count().filter(pl.col('row_nr') != 3)
df.head()

[answer50]

df = df.with_row_count().filter(pl.col('row_nr') != 3)
df.head()


----------------------------------------------

[Tips]
・with_row_count()でインデックスを振ることができる

----------------------------------------------

[参考] pandas記法

df = df.drop(3,axis=0)
df.head()

shape: (5, 15)
┌────────┬────────┬──────────┬───────────────────────────────────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ row_nr ┆ pclass ┆ survived ┆ name                                  ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---    ┆ ---      ┆ ---                                   ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ u32    ┆ i64    ┆ i64      ┆ str                                   ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪════════╪══════════╪═══════════════════════════════════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 0      ┆ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆        ┆          ┆                                       ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 2      ┆ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆        ┆          ┆                                       ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 4      ┆ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...   ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆        ┆          ┆                                       ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 5      ┆ 1      ┆ 1        ┆ Anderson, Mr. Harry                   ┆ ... ┆ S        ┆ 3    ┆ null ┆ New York, NY     │
└────────┴────────┴──────────┴───────────────────────────────────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【51】
# df2の列名を'name', 'class', 'Biology', 'Physics', 'Chemistry'に変更
# df2の最初の5行を表示
print(ans[51]) #解答表示
df2 = initialize2() #初期化

df2.columns = ['name', 'class', 'Biology', 'Physics', 'Chemistry']
df2.head()

[answer51]

df2.columns = ['name', 'class', 'Biology', 'Physics', 'Chemistry']
df2.head()


----------------------------------------------

[Tips]
・データフレーム.columns = リストで
　列名を一括変更
・renameを用いて以下のように変更することも可能

df2 = df2.rename({'English': 'Biology','Mathematics': 'Physics','History': 'Chemistry'})

----------------------------------------------

[参考] pandas記法

df2.columns = ['name', 'class', 'Biology', 'Physics', 'Chemistry']
df2.head()

shape: (5, 5)
┌──────┬───────┬─────────┬─────────┬───────────┐
│ name ┆ class ┆ Biology ┆ Physics ┆ Chemistry │
│ ---  ┆ ---   ┆ ---     ┆ ---     ┆ ---       │
│ str  ┆ i64   ┆ i64     ┆ i64     ┆ i64       │
╞══════╪═══════╪═════════╪═════════╪═══════════╡
│ A    ┆ 1     ┆ 80      ┆ 55      ┆ 65        │
│ B    ┆ 1     ┆ 55      ┆ 100     ┆ 83        │
│ C    ┆ 2     ┆ 65      ┆ 70      ┆ 95        │
│ D    ┆ 1     ┆ 40      ┆ 63      ┆ 70        │
│ E    ┆ 2     ┆ 76      ┆ 82      ┆ 79        │
└──────┴───────┴─────────┴─────────┴───────────┘

In [ ]:
# 【52】
# df2の列名を'English'をBiology'に変更
# df2の最初の5行を表示
print(ans[52]) #解答表示
df2 = initialize2() #初期化


df2 = df2.rename({'English': 'Biology'})
df2.head()

[answer52]

df2 = df2.rename({'English': 'Biology'})
df2.head()


----------------------------------------------

[Tips]
rename({'English' : 'Biology'})で
一部の列名のみ変更可能

----------------------------------------------

[参考] pandas記法

df2 = df2.rename(columns={'English' : 'Biology'})
df2.head()

shape: (5, 5)
┌──────┬───────┬─────────┬─────────────┬─────────┐
│ name ┆ class ┆ Biology ┆ Mathematics ┆ History │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╡
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      │
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      │
│ C    ┆ 2     ┆ 65      ┆ 70          ┆ 95      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      │
│ E    ┆ 2     ┆ 76      ┆ 82          ┆ 79      │
└──────┴───────┴─────────┴─────────────┴─────────┘

In [ ]:
# 【53】
# dfのすべての列の欠損値数を確認
print(ans[53]) #解答表示
df = initialize1() #初期化

df.null_count()

[answer53]

df.null_count()

[別解]

df.select(pl.all().is_null().sum())

----------------------------------------------

[Tips]
・null_count()で欠損値数を確認

----------------------------------------------

[参考] pandas記法

df.isnull().sum()

shape: (1, 14)
┌────────┬──────────┬──────┬─────┬─────┬──────────┬──────┬──────┬───────────┐
│ pclass ┆ survived ┆ name ┆ sex ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest │
│ ---    ┆ ---      ┆ ---  ┆ --- ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---       │
│ u32    ┆ u32      ┆ u32  ┆ u32 ┆     ┆ u32      ┆ u32  ┆ u32  ┆ u32       │
╞════════╪══════════╪══════╪═════╪═════╪══════════╪══════╪══════╪═══════════╡
│ 0      ┆ 0        ┆ 0    ┆ 0   ┆ ... ┆ 2        ┆ 823  ┆ 1188 ┆ 564       │
└────────┴──────────┴──────┴─────┴─────┴──────────┴──────┴──────┴───────────┘

In [ ]:
# 【54】
# dfのage列の欠損値に30を代入
# その後、ageの欠損値数を確認
print(ans[54]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.col('age').fill_null(30).alias('age'))
df.null_count()

[answer54]

df = df.with_column(pl.col('age').fill_null(30).alias('age'))
df.null_count()


----------------------------------------------

[Tips]
欠損値の補完にはfill_null()を使用

----------------------------------------------

[参考] pandas記法

df['age'] = df['age'].fillna(30)
df['age'].isnull().sum()

shape: (1, 14)
┌────────┬──────────┬──────┬─────┬─────┬──────────┬──────┬──────┬───────────┐
│ pclass ┆ survived ┆ name ┆ sex ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest │
│ ---    ┆ ---      ┆ ---  ┆ --- ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---       │
│ u32    ┆ u32      ┆ u32  ┆ u32 ┆     ┆ u32      ┆ u32  ┆ u32  ┆ u32       │
╞════════╪══════════╪══════╪═════╪═════╪══════════╪══════╪══════╪═══════════╡
│ 0      ┆ 0        ┆ 0    ┆ 0   ┆ ... ┆ 2        ┆ 823  ┆ 1188 ┆ 564       │
└────────┴──────────┴──────┴─────┴─────┴──────────┴──────┴──────┴───────────┘

In [ ]:
# 【55】
# dfでひとつでも欠損値がある行を削除
# その後、dfの欠損値数を確認
print(ans[55]) #解答表示
df = initialize1() #初期化

df = df.drop_nulls()
df.null_count()

[answer55]

df = df.drop_nulls()
df.null_count()


----------------------------------------------

[Tips]
欠損値を含む行の削除には drop_nulls() を使用

----------------------------------------------

[参考] pandas記法

df = df.dropna()
df.isnull().sum()

shape: (1, 14)
┌────────┬──────────┬──────┬─────┬─────┬──────────┬──────┬──────┬───────────┐
│ pclass ┆ survived ┆ name ┆ sex ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest │
│ ---    ┆ ---      ┆ ---  ┆ --- ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---       │
│ u32    ┆ u32      ┆ u32  ┆ u32 ┆     ┆ u32      ┆ u32  ┆ u32  ┆ u32       │
╞════════╪══════════╪══════╪═════╪═════╪══════════╪══════╪══════╪═══════════╡
│ 0      ┆ 0        ┆ 0    ┆ 0   ┆ ... ┆ 0        ┆ 0    ┆ 0    ┆ 0         │
└────────┴──────────┴──────┴─────┴─────┴──────────┴──────┴──────┴───────────┘

In [ ]:
# 【56】
# dfのsurvivedの列をndarray形式(配列)で表示
print(ans[56]) #解答表示
df = initialize1() #初期化

df.get_column('survived').to_numpy()

[answer56]

df.get_column('survived').to_numpy()


----------------------------------------------

[Tips]
・seriesに対してto_numpy()を付けることでndaaray形式に変換できる

----------------------------------------------

[参考] pandas記法]

df['survived'].values

array([1, 1, 0, ..., 0, 0, 0], dtype=int64)

In [ ]:
# 【57】
# dfの行をシャッフルし、
# dfの最初の5行を表示
print(ans[57]) #解答表示
df = initialize1() #初期化

df = df.sample(frac=1.0, shuffle=True)
df.head()

[answer57]

df = df.sample(frac=1.0, shuffle=True)
df.head()


----------------------------------------------

[Tips]
・dataframeの行をシャッフルするときは
　sample(frac=1.0, shuffle=True)と書く
・fracに指定した値（0～1.0）でランダムサンプリングが可能

df.sample(frac=0.5)

----------------------------------------------

[参考] pandas記法

df.sample(frac=1)

shape: (5, 14)
┌────────┬──────────┬───────────────────────────────┬────────┬─────┬──────────┬───────┬──────┬────────────────────────┐
│ pclass ┆ survived ┆ name                          ┆ sex    ┆ ... ┆ embarked ┆ boat  ┆ body ┆ home.dest              │
│ ---    ┆ ---      ┆ ---                           ┆ ---    ┆     ┆ ---      ┆ ---   ┆ ---  ┆ ---                    │
│ i64    ┆ i64      ┆ str                           ┆ str    ┆     ┆ str      ┆ str   ┆ i64  ┆ str                    │
╞════════╪══════════╪═══════════════════════════════╪════════╪═════╪══════════╪═══════╪══════╪════════════════════════╡
│ 1      ┆ 1        ┆ Lesurer, Mr. Gustave J        ┆ male   ┆ ... ┆ C        ┆ 3     ┆ null ┆ null                   │
│ 3      ┆ 1        ┆ Vartanian, Mr. David          ┆ male   ┆ ... ┆ C        ┆ 13 15 ┆ null ┆ null                   │
│ 2      ┆ 1        ┆ Brown, Miss. Amelia "Mildred" ┆ female ┆ ... ┆ S        ┆ 11    ┆ null ┆ London / Montreal, PQ  │
│ 3      ┆ 1        ┆ Moor, Master. Meier           ┆ male   ┆ ... ┆ S        ┆ 14    ┆ null ┆ null                   │
│ 2      ┆ 1        ┆ Sincock, Miss. Maude          ┆ female ┆ ... ┆ S        ┆ 11    ┆ null ┆ Cornwall / Hancock, MI │
└────────┴──────────┴───────────────────────────────┴────────┴─────┴──────────┴───────┴──────┴────────────────────────┘

In [ ]:
# 【58】
# ①df2の重複行数をカウント
# ②df2の重複行を削除し、df2を表示
print(ans[58]) #解答表示
df2 = initialize2() #初期化

print(df2.is_duplicated().sum())
df2 = df2.unique()
df2

[answer58]

print(df2.is_duplicated().sum())
df2 = df2.unique()
df2


----------------------------------------------

[Tips]
・重複行数をカウントする時は is_duplicated().sum()
・重複行を削除する時は unique()

----------------------------------------------

[参考] pandas記法

print(df2.duplicated().value_counts())
df2 = df2.drop_duplicates()
df


4

shape: (8, 5)
┌──────┬───────┬─────────┬─────────────┬─────────┐
│ name ┆ class ┆ English ┆ Mathematics ┆ History │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╡
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      │
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      │
│ C    ┆ 2     ┆ 65      ┆ 70          ┆ 95      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      │
│ E    ┆ 2     ┆ 76      ┆ 82          ┆ 79      │
│ F    ┆ 2     ┆ 93      ┆ 68          ┆ 81      │
│ G    ┆ 1     ┆ 100     ┆ 85          ┆ 52      │
│ H    ┆ 2     ┆ 73      ┆ 52          ┆ 96      │
└──────┴───────┴─────────┴─────────────┴─────────┘

In [ ]:
# 【59】
# dfのnameの列をすべて大文字に変換し表示
print(ans[59]) #解答表示
df = initialize1() #初期化

df.select(pl.col('name').str.to_uppercase())

[answer59]

df.select(pl.col('name').str.to_uppercase())


----------------------------------------------

[Tips]
str.to_uppercase()で小文字を大文字に変換

----------------------------------------------

[参考] pandas記法

df['name'].str.upper()

shape: (1309, 1)
┌─────────────────────────────────────┐
│ name                                │
│ ---                                 │
│ str                                 │
╞═════════════════════════════════════╡
│ ALLEN, MISS. ELISABETH WALTON       │
│ ALLISON, MASTER. HUDSON TREVOR      │
│ ALLISON, MISS. HELEN LORAINE        │
│ ALLISON, MR. HUDSON JOSHUA CREIG... │
│ ...                                 │
│ ZABOUR, MISS. THAMINE               │
│ ZAKARIAN, MR. MAPRIEDEDER           │
│ ZAKARIAN, MR. ORTIN                 │
│ ZIMMERMAN, MR. LEO                  │
└─────────────────────────────────────┘

In [ ]:
# 【60】
# dfのnameの列をすべて小文字に変換し表示
print(ans[60]) #解答表示
df = initialize1() #初期化

df.select(pl.col('name').str.to_lowercase())

[answer60]

df.select(pl.col('name').str.to_lowercase())


----------------------------------------------

[Tips]
str.to_lowercase()で大文字を小文字に変換

----------------------------------------------

[参考] pandas記法

df['name'].str.lower()

shape: (1309, 1)
┌─────────────────────────────────────┐
│ name                                │
│ ---                                 │
│ str                                 │
╞═════════════════════════════════════╡
│ allen, miss. elisabeth walton       │
│ allison, master. hudson trevor      │
│ allison, miss. helen loraine        │
│ allison, mr. hudson joshua creig... │
│ ...                                 │
│ zabour, miss. thamine               │
│ zakarian, mr. mapriededer           │
│ zakarian, mr. ortin                 │
│ zimmerman, mr. leo                  │
└─────────────────────────────────────┘

In [ ]:
# 【61】
# dfのsex列に含まれる「female」という単語を
# 「Python」に置換。その後、1行目の
# 「female」が「Python」に置き換わったことを確認
print(ans[61]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.col("sex").str.replace("female", "Python"))
df.head()

[answer61]

df = df.with_column(pl.col("sex").str.replace("female", "Python"))
df.head()


----------------------------------------------

[Tips]
・文字列の置換にはstr.replace('a', 'b')を使用
　（文字列aを文字列bに置換）

----------------------------------------------

[参考] pandas記法

df['sex'] = df['sex'].replace('female','Python')
df.head()

shape: (5, 14)
┌────────┬──────────┬───────────────────────────────────────┬────────┬─────┬──────────┬──────┬──────┬──────────────────┐
│ pclass ┆ survived ┆ name                                  ┆ sex    ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest        │
│ ---    ┆ ---      ┆ ---                                   ┆ ---    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---              │
│ i64    ┆ i64      ┆ str                                   ┆ str    ┆     ┆ str      ┆ str  ┆ i64  ┆ str              │
╞════════╪══════════╪═══════════════════════════════════════╪════════╪═════╪══════════╪══════╪══════╪══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton         ┆ Python ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO     │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor        ┆ male   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine          ┆ Python ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua Creig...   ┆ male   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C (Bessie...   ┆ Python ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ /   │
│        ┆          ┆                                       ┆        ┆     ┆          ┆      ┆      ┆ Chesterville, ON │
└────────┴──────────┴───────────────────────────────────────┴────────┴─────┴──────────┴──────┴──────┴──────────────────┘

In [ ]:
# 【62】
# dfのname列1行目の「Allen, Miss. Elisabeth Walton」の
# 「Elisabeth」を消去(import reをインポート)
print(ans[62]) #解答表示
df = initialize1() #初期化

import re

df = df.with_row_count().with_column(pl.when(pl.col('row_nr')==0)
                                .then(re.sub('Elisabeth','',df.get_column('name')[0:1][0]))
                                .otherwise(pl.col('name')).alias('name'))
df.get_column('name')[0:1][0]

[answer62]

import re

df = df.with_row_count().with_column(pl.when(pl.col('row_nr')==0)
                                .then(re.sub('Elisabeth','',df.get_column('name')[0:1][0]))
                                .otherwise(pl.col('name')).alias('name'))
df.get_column('name')[0:1][0]


[別解]（非推奨）

df[0, 'name'] = re.sub('Elisabeth','',df[0, 'name'])
df[0, 'name']

----------------------------------------------

[Tips]
・部分一致の文字列消去にはre.sub()を使用
・re.sub('消したい文字列','','元々の文字列') のように使う
・完全一致で文字列を消去するときはreplaceを使用可能

----------------------------------------------

[参考] pandas記法

import re
df['name'][0] = re.sub('Elisabeth','',df['name'][0])
df['name'][0]

'Allen, Miss.  Walton'

In [ ]:
# 【63】
# df5の都道府県列と市区町村列を空白がないように
# 「_」で結合(新規列名は「test2」)し、先頭5行を表示
# ※df5の「test」列は通常通り結合した場合の結果
print(ans[63]) #解答表示
df5 = initialize5() #初期化

df5 = df5.with_column(
    pl.col("都道府県").str.rstrip().alias("都道府県名")
).with_column(
    pl.concat_str(pl.col(["都道府県名", "市区町村"]), "_")
    .alias("test2")
).drop("都道府県名")
df5

[answer63]

df5 = df5.with_column(
    pl.col("都道府県").str.rstrip().alias("都道府県名")
).with_column(
    pl.concat_str(pl.col(["都道府県名", "市区町村"]), "_")
    .alias("test2")
).drop("都道府県名")
df5


----------------------------------------------

[Tips]
・文字列右側の空白を削除　str.rstrip()
・文字列の両端の空白を削除　str.strip()
・文字列の左側の空白を削除　str.lstrip()

----------------------------------------------

[参考] pandas記法

df5['test2'] = df5['都道府県'].str.rstrip() +'_'+ df5['市区町村']
df5.head()

shape: (9, 5)
┌─────┬──────────────┬────────────┬─────────────────────┬───────────────┐
│     ┆ 都道府県     ┆ 市区町村   ┆ test                ┆ test2         │
│ --- ┆ ---          ┆ ---        ┆ ---                 ┆ ---           │
│ i64 ┆ str          ┆ str        ┆ str                 ┆ str           │
╞═════╪══════════════╪════════════╪═════════════════════╪═══════════════╡
│ 0   ┆ 東京都　　　 ┆ 千代田     ┆ 東京都　　　_千代田 ┆ 東京都_千代田 │
│ 1   ┆ 東京都　　　 ┆ 新宿       ┆ 東京都　　　_新宿   ┆ 東京都_新宿   │
│ 2   ┆ 東京都　　　 ┆ 墨田       ┆ 東京都　　　_墨田   ┆ 東京都_墨田   │
│ 3   ┆ 神奈川　　　 ┆ 横浜       ┆ 神奈川　　　_横浜   ┆ 神奈川_横浜   │
│ ... ┆ ...          ┆ ...        ┆ ...                 ┆ ...           │
│ 5   ┆ 千葉　　　   ┆ 浦和       ┆ 千葉　　　_浦和     ┆ 千葉_浦和     │
│ 6   ┆ 千葉　　　   ┆ 木更津     ┆ 千葉　　　_木更津   ┆ 千葉_木更津   │
│ 7   ┆ 埼玉　　　   ┆ 川口       ┆ 埼玉　　　_川口     ┆ 埼玉_川口     │
│ 8   ┆ 埼玉　　　   ┆ 大宮       ┆ 埼玉　　　_大宮     ┆ 埼玉_大宮     │
└─────┴──────────────┴────────────┴─────────────────────┴───────────────┘

In [ ]:
# 【64】
# df2の行と列を入れ替えて表示
print(ans[64]) #解答表示
df2 = initialize2() #初期化

df2.transpose(include_header=True)

[answer64]

df2.transpose(include_header=True)


----------------------------------------------

[Tips]
・dataframeの行と列を入れ替えるときはtranspose()を使用


[参考] pandas記法

df2 = df2.transpose()
df2

shape: (5, 11)
┌─────────────┬──────────┬──────────┬──────────┬─────┬──────────┬──────────┬──────────┬──────────┐
│ column      ┆ column_0 ┆ column_1 ┆ column_2 ┆ ... ┆ column_6 ┆ column_7 ┆ column_8 ┆ column_9 │
│ ---         ┆ ---      ┆ ---      ┆ ---      ┆     ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ str         ┆ str      ┆ str      ┆ str      ┆     ┆ str      ┆ str      ┆ str      ┆ str      │
╞═════════════╪══════════╪══════════╪══════════╪═════╪══════════╪══════════╪══════════╪══════════╡
│ name        ┆ A        ┆ B        ┆ C        ┆ ... ┆ G        ┆ H        ┆ B        ┆ D        │
│ class       ┆ 1        ┆ 1        ┆ 2        ┆ ... ┆ 1        ┆ 2        ┆ 1        ┆ 1        │
│ English     ┆ 80       ┆ 55       ┆ 65       ┆ ... ┆ 100      ┆ 73       ┆ 55       ┆ 40       │
│ Mathematics ┆ 55       ┆ 100      ┆ 70       ┆ ... ┆ 85       ┆ 52       ┆ 100      ┆ 63       │
│ History     ┆ 65       ┆ 83       ┆ 95       ┆ ... ┆ 52       ┆ 96       ┆ 83       ┆ 70       │
└─────────────┴──────────┴──────────┴──────────┴─────┴──────────┴──────────┴──────────┴──────────┘

# マージと連結(65 - 73)

In [ ]:
# 【65】
# df2にdf3を左結合（結合キーはname）し、df2に格納
print(ans[65]) #解答表示
df2 = initialize2() #初期化

df2 = df2.join(df3, on='name', how='left')
df2

[answer65]

df2 = df2.join(df3, on='name', how='left')
df2


----------------------------------------------

[Tips]
・左結合では、df2に存在するレコードにdf3のレコードを結合する
・on=''で結合キーを指定
・how=''で結合方法を指定

----------------------------------------------

[参考] pandas記法

df2 = pd.merge(df2,df3,on='name',how='left')
df2

shape: (10, 7)
┌──────┬───────┬─────────┬─────────────┬─────────┬─────────┬─────────┐
│ name ┆ class ┆ English ┆ Mathematics ┆ History ┆ Biology ┆ Physics │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     ┆ ---     ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     ┆ i64     ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╪═════════╪═════════╡
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      ┆ 58      ┆ 100     │
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      ┆ null    ┆ null    │
│ C    ┆ 2     ┆ 65      ┆ 70          ┆ 95      ┆ 79      ┆ 60      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ 95      ┆ 89      │
│ ...  ┆ ...   ┆ ...     ┆ ...         ┆ ...     ┆ ...     ┆ ...     │
│ G    ┆ 1     ┆ 100     ┆ 85          ┆ 52      ┆ null    ┆ null    │
│ H    ┆ 2     ┆ 73      ┆ 52          ┆ 96      ┆ null    ┆ null    │
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      ┆ null    ┆ null    │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ 95      ┆ 89      │
└──────┴───────┴─────────┴─────────────┴─────────┴─────────┴─────────┘

In [ ]:
# 【66】
# df2にdf3を右結合（結合キーはname）し、df2に格納
print(ans[66]) #解答表示
df2 = initialize2() #初期化

df2 = df3.join(df2, on='name', how='left')
df2

[answer66]

df2 = df3.join(df2, on='name', how='left')
df2


----------------------------------------------

[Tips]
・Polarsには右結合がないのでdf2にdf3を右結合したい場合は
　df3にdf2を左結合させる
・on=''で結合キーを指定
・how=''で結合方法を指定

----------------------------------------------

[参考] pandas記法

df2 = pd.merge(df2,df3,on='name',how='right')
df2

shape: (8, 7)
┌──────┬─────────┬─────────┬───────┬─────────┬─────────────┬─────────┐
│ name ┆ Biology ┆ Physics ┆ class ┆ English ┆ Mathematics ┆ History │
│ ---  ┆ ---     ┆ ---     ┆ ---   ┆ ---     ┆ ---         ┆ ---     │
│ str  ┆ i64     ┆ i64     ┆ i64   ┆ i64     ┆ i64         ┆ i64     │
╞══════╪═════════╪═════════╪═══════╪═════════╪═════════════╪═════════╡
│ A    ┆ 58      ┆ 100     ┆ 1     ┆ 80      ┆ 55          ┆ 65      │
│ C    ┆ 79      ┆ 60      ┆ 2     ┆ 65      ┆ 70          ┆ 95      │
│ D    ┆ 95      ┆ 89      ┆ 1     ┆ 40      ┆ 63          ┆ 70      │
│ D    ┆ 95      ┆ 89      ┆ 1     ┆ 40      ┆ 63          ┆ 70      │
│ F    ┆ 45      ┆ 69      ┆ 2     ┆ 93      ┆ 68          ┆ 81      │
│ I    ┆ 63      ┆ 91      ┆ null  ┆ null    ┆ null        ┆ null    │
│ J    ┆ 87      ┆ 76      ┆ null  ┆ null    ┆ null        ┆ null    │
│ K    ┆ 73      ┆ 83      ┆ null  ┆ null    ┆ null        ┆ null    │
└──────┴─────────┴─────────┴───────┴─────────┴─────────────┴─────────┘

In [ ]:
# 【67】
# df2にdf3を内部結合（結合キーはname）し、df2に格納
print(ans[67]) #解答表示
df2 = initialize2() #初期化

df2 = df2.join(df3, on="name", how="inner")
df2

[answer67]

df2 = df2.join(df3, on="name", how="inner")
df2


----------------------------------------------

[Tips]
・内部結合では、df2とdf3の共通のキーのみで結合する
・on=''で結合キーを指定
・how=''で結合方法を指定

----------------------------------------------

[参考] pandas記法

df2 = pd.merge(df2,df3,on='name',how='inner')
df2

shape: (5, 7)
┌──────┬───────┬─────────┬─────────────┬─────────┬─────────┬─────────┐
│ name ┆ class ┆ English ┆ Mathematics ┆ History ┆ Biology ┆ Physics │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     ┆ ---     ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     ┆ i64     ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╪═════════╪═════════╡
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      ┆ 58      ┆ 100     │
│ C    ┆ 2     ┆ 65      ┆ 70          ┆ 95      ┆ 79      ┆ 60      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ 95      ┆ 89      │
│ F    ┆ 2     ┆ 93      ┆ 68          ┆ 81      ┆ 45      ┆ 69      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ 95      ┆ 89      │
└──────┴───────┴─────────┴─────────────┴─────────┴─────────┴─────────┘

In [ ]:
# 【68】
# df2にdf3を外部結合し、df2に格納
print(ans[68]) #解答表示
df2 = initialize2() #初期化

df2 = df2.join(df3, on="name", how="outer")
df2

[answer68]

df2 = df2.join(df3, on="name", how="outer")
df2


----------------------------------------------

[Tips]
・外部結合では、df2とdf3の両方のレコードが
　残るように結合する（innerはand結合、outerはor結合）
・on=''で結合キーを指定
・how=''で結合方法を指定

----------------------------------------------

[参考] pandas記法

df2 = pd.merge(df2,df3,on='name',how='outer')
df2

shape: (13, 7)
┌──────┬───────┬─────────┬─────────────┬─────────┬─────────┬─────────┐
│ name ┆ class ┆ English ┆ Mathematics ┆ History ┆ Biology ┆ Physics │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     ┆ ---     ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     ┆ i64     ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╪═════════╪═════════╡
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      ┆ 58      ┆ 100     │
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      ┆ null    ┆ null    │
│ C    ┆ 2     ┆ 65      ┆ 70          ┆ 95      ┆ 79      ┆ 60      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ 95      ┆ 89      │
│ ...  ┆ ...   ┆ ...     ┆ ...         ┆ ...     ┆ ...     ┆ ...     │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ 95      ┆ 89      │
│ J    ┆ null  ┆ null    ┆ null        ┆ null    ┆ 87      ┆ 76      │
│ K    ┆ null  ┆ null    ┆ null        ┆ null    ┆ 73      ┆ 83      │
│ I    ┆ null  ┆ null    ┆ null        ┆ null    ┆ 63      ┆ 91      │
└──────┴───────┴─────────┴─────────────┴─────────┴─────────┴─────────┘

In [ ]:
# 【69】
# df2にdf3を、df3にのみ存在するデータのみを残してて結合
print(ans[69]) #解答表示
df2 = initialize2() #初期化


df2 = df2.join(df3, on="name", how="semi")
df2

[answer69]

df2 = df2.join(df3, on="name", how="semi")
df2


----------------------------------------------

[Tips]
・semi結合では右側のdataframeに存在するレコードのみが残るように
　結合
・on=''で結合キーを指定
・how=''で結合方法を指定

----------------------------------------------

[参考] pandas記法

該当メソッドなし

shape: (5, 5)
┌──────┬───────┬─────────┬─────────────┬─────────┐
│ name ┆ class ┆ English ┆ Mathematics ┆ History │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╡
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      │
│ C    ┆ 2     ┆ 65      ┆ 70          ┆ 95      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      │
│ F    ┆ 2     ┆ 93      ┆ 68          ┆ 81      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      │
└──────┴───────┴─────────┴─────────────┴─────────┘

In [ ]:
# 【70】
# df2にdf3を、df3に存在しないデータを残してて結合
print(ans[70]) #解答表示
df2 = initialize2() #初期化


df2 = df2.join(df3, on="name", how="anti")
df2

[answer70]

df2 = df2.join(df3, on="name", how="anti")
df2


----------------------------------------------

[Tips]
・anti結合では右側のdataframeに存在しないレコードのみで結合
・on=''で結合キーを指定
・how=''で結合方法を指定

----------------------------------------------

[参考] pandas記法

該当メソッドなし

shape: (5, 5)
┌──────┬───────┬─────────┬─────────────┬─────────┐
│ name ┆ class ┆ English ┆ Mathematics ┆ History │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╡
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      │
│ E    ┆ 2     ┆ 76      ┆ 82          ┆ 79      │
│ G    ┆ 1     ┆ 100     ┆ 85          ┆ 52      │
│ H    ┆ 2     ┆ 73      ┆ 52          ┆ 96      │
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      │
└──────┴───────┴─────────┴─────────────┴─────────┘

In [ ]:
# 【71】
# df2とdf3のそれぞれの行を組み合わせた
print(ans[71]) #解答表示
df2 = initialize2() #初期化


df2 = df2.join(df3, on="name", how="cross")
df2

[answer71]

df2 = df2.join(df3, on="name", how="cross")
df2


----------------------------------------------

[Tips]
・cross結合では、df2、df3のどちらにも存在するすべてのレコード同士の
　組み合わせで結合する（例えばそれぞれ100レコードのdataframeだった場合、
　10,000（100×100）の結合データが生成される）
・on=''で結合キーを指定
・how=''で結合方法を指定

----------------------------------------------

[参考] pandas記法

該当メソッドなし

shape: (70, 8)
┌──────┬───────┬─────────┬─────────────┬─────────┬────────────┬─────────┬─────────┐
│ name ┆ class ┆ English ┆ Mathematics ┆ History ┆ name_right ┆ Biology ┆ Physics │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     ┆ ---        ┆ ---     ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     ┆ str        ┆ i64     ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╪════════════╪═════════╪═════════╡
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      ┆ A          ┆ 58      ┆ 100     │
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      ┆ C          ┆ 79      ┆ 60      │
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      ┆ D          ┆ 95      ┆ 89      │
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      ┆ F          ┆ 45      ┆ 69      │
│ ...  ┆ ...   ┆ ...     ┆ ...         ┆ ...     ┆ ...        ┆ ...     ┆ ...     │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ F          ┆ 45      ┆ 69      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ I          ┆ 63      ┆ 91      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ J          ┆ 87      ┆ 76      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ K          ┆ 73      ┆ 83      │
└──────┴───────┴─────────┴─────────────┴─────────┴────────────┴─────────┴─────────┘

In [ ]:
# 【72】
# df2とdf4を列方向に連結し、df2に格納
print(ans[72]) #解答表示
df2 = initialize2() #初期化

df2 = pl.concat([df2, df4.drop('name')], how="horizontal")
df2

[answer72]

df2 = pl.concat([df2, df4.drop('name')], how='horizontal')
df2


----------------------------------------------

[Tips]
・複数のdataframeを連結するときはpd.concatを使用
・how='horizontal'で横方向にdataframe同士を結合

----------------------------------------------

[参考] pandas記法

df2 = pd.concat([df2,df4],axis=1)
df2

shape: (10, 7)
┌──────┬───────┬─────────┬─────────────┬─────────┬─────────┬─────────┐
│ name ┆ class ┆ English ┆ Mathematics ┆ History ┆ Biology ┆ Physics │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     ┆ ---     ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     ┆ i64     ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╪═════════╪═════════╡
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      ┆ 58      ┆ 100     │
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      ┆ 80      ┆ 63      │
│ C    ┆ 2     ┆ 65      ┆ 70          ┆ 95      ┆ 79      ┆ 60      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ 95      ┆ 89      │
│ ...  ┆ ...   ┆ ...     ┆ ...         ┆ ...     ┆ ...     ┆ ...     │
│ G    ┆ 1     ┆ 100     ┆ 85          ┆ 52      ┆ 52      ┆ 68      │
│ H    ┆ 2     ┆ 73      ┆ 52          ┆ 96      ┆ 89      ┆ 70      │
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      ┆ 61      ┆ 64      │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ 95      ┆ 89      │
└──────┴───────┴─────────┴─────────────┴─────────┴─────────┴─────────┘

In [ ]:
# 【73】
# df2とdf4を行方向に連結し、df2に格納
print(ans[73]) #解答表示
df2 = initialize2() #初期化

df2 = pl.concat([df2,df4], how="diagonal")
df2

[answer73]

df2 = pl.concat([df2,df4], how="diagonal")
df2


----------------------------------------------

[Tips]
・複数のdataframeを連結するときはpd.concatを使用
・how='diagonal'で縦方向にdataframe同士を結合
・縦方向の結合には'vertical'もあるが、列数の一致しない
　dataframe同士を結合しようとするとエ'vertical'ではエラーが出る

----------------------------------------------

[参考] pandas記法

df2 = pd.concat([df2,df4],axis=0)
df2

shape: (20, 7)
┌──────┬───────┬─────────┬─────────────┬─────────┬─────────┬─────────┐
│ name ┆ class ┆ English ┆ Mathematics ┆ History ┆ Biology ┆ Physics │
│ ---  ┆ ---   ┆ ---     ┆ ---         ┆ ---     ┆ ---     ┆ ---     │
│ str  ┆ i64   ┆ i64     ┆ i64         ┆ i64     ┆ i64     ┆ i64     │
╞══════╪═══════╪═════════╪═════════════╪═════════╪═════════╪═════════╡
│ A    ┆ 1     ┆ 80      ┆ 55          ┆ 65      ┆ null    ┆ null    │
│ B    ┆ 1     ┆ 55      ┆ 100         ┆ 83      ┆ null    ┆ null    │
│ C    ┆ 2     ┆ 65      ┆ 70          ┆ 95      ┆ null    ┆ null    │
│ D    ┆ 1     ┆ 40      ┆ 63          ┆ 70      ┆ null    ┆ null    │
│ ...  ┆ ...   ┆ ...     ┆ ...         ┆ ...     ┆ ...     ┆ ...     │
│ G    ┆ null  ┆ null    ┆ null        ┆ null    ┆ 52      ┆ 68      │
│ H    ┆ null  ┆ null    ┆ null        ┆ null    ┆ 89      ┆ 70      │
│ B    ┆ null  ┆ null    ┆ null        ┆ null    ┆ 61      ┆ 64      │
│ D    ┆ null  ┆ null    ┆ null        ┆ null    ┆ 95      ┆ 89      │
└──────┴───────┴─────────┴─────────────┴─────────┴─────────┴─────────┘

# 統計 (74 - 89)

In [ ]:
# 【74】
# dfのage列の平均値を確認
print(ans[74]) #解答表示
df = initialize1() #初期化

df.select(pl.col('age').mean())

[answer74]

df.select(pl.col('age').mean())


----------------------------------------------

[Tips]
・列の平均値はpl.col('列名').mean()で確認

----------------------------------------------

[参考] pandas記法

df['age'].mean()

shape: (1, 1)
┌───────────┐
│ age       │
│ ---       │
│ f64       │
╞═══════════╡
│ 29.881138 │
└───────────┘

In [ ]:
# 【75】
# dfのage列の中央値を確認
print(ans[75]) #解答表示
df = initialize1() #初期化

df.select(pl.col('age').median())

[answer75]

df.select(pl.col('age').median())


----------------------------------------------

[Tips]
・列の中央値はpl.col('列名'),median()で確認

----------------------------------------------

[参考] pandas記法

df['age'].median()

shape: (1, 1)
┌──────┐
│ age  │
│ ---  │
│ f64  │
╞══════╡
│ 28.0 │
└──────┘

In [ ]:
# 【76】
# ①df2の生徒ごとの合計点（行方向の合計）
# ②df2の科目ごとの点数の総和（列方向の合計）
print(ans[76]) #解答表示
df2 = initialize2() #初期化

df2.drop_in_place('class')
print(df2.select(pl.sum(['English','Mathematics','History'])))
print(df2.sum())

[answer76]

df2.drop_in_place('class')
print(df2.select(pl.sum(['English','Mathematics','History'])))
print(df2.sum())


----------------------------------------------

[Tips]
・行方向のpl.sum(['列名1','列名2'])の加算したい列名を記載して書く
・列方向の合計値の確認はsum()を使用

----------------------------------------------

[参考] pandas記法

df2 = df2.drop(['class'],axis=1)
print(df2.sum(axis=1)) #行方向の合計
print(df2.sum()) #列方向の合計


shape: (10, 1)
┌─────┐
│ sum │
│ --- │
│ i64 │
╞═════╡
│ 200 │
│ 238 │
│ 230 │
│ 173 │
│ ... │
│ 237 │
│ 221 │
│ 238 │
│ 173 │
└─────┘
shape: (1, 4)
┌──────┬─────────┬─────────────┬─────────┐
│ name ┆ English ┆ Mathematics ┆ History │
│ ---  ┆ ---     ┆ ---         ┆ ---     │
│ str  ┆ i64     ┆ i64         ┆ i64     │
╞══════╪═════════╪═════════════╪═════════╡
│ null ┆ 677     ┆ 738         ┆ 774     │
└──────┴─────────┴─────────────┴─────────┘

In [ ]:
# 【77】
# df2のEnglishで得点の最大値
print(ans[77]) #解答表示
df2 = initialize2() #初期化

print(df2.select(pl.col('English').max()))

[answer77]

print(df2.select(pl.col('English').max()))


----------------------------------------------

[Tips]
最大値の確認はpl.col('列名').max()を使用

----------------------------------------------

[参考] pandas記法

df2['English'].max()


shape: (1, 1)
┌─────────┐
│ English │
│ ---     │
│ i64     │
╞═════════╡
│ 100     │
└─────────┘

In [ ]:
# 【78】
# df2のEnglishで得点の最小値
print(ans[78]) #解答表示
df2 = initialize2() #初期化

print(df2.select(pl.col('English').min()))

[answer78]

print(df2.select(pl.col('English').min()))


----------------------------------------------

[Tips]
最小値の確認はpl.col('列名').min()を使用

----------------------------------------------

[参考] pandas記法

df2['English'].min()


shape: (1, 1)
┌─────────┐
│ English │
│ ---     │
│ i64     │
╞═════════╡
│ 40      │
└─────────┘

In [ ]:
# 【79】
# df2においてclassでグルーピングし、クラスごとの科目の
# 最大値、最小値、平均値を求める(name列は削除しておく)
print(ans[79]) #解答表示
df2 = initialize2() #初期化

df2.drop_in_place('name')
print(df2.groupby(['class']).max())
print(df2.groupby(['class']).min())
print(df2.groupby(['class']).mean())

[answer79]

df2.drop_in_place('name')
print(df2.groupby(['class']).max())
print(df2.groupby(['class']).min())
print(df2.groupby(['class']).mean())


----------------------------------------------

[Tips]
指定の列名でグルーピングしたい場合は
groupby('列名')を使用する


----------------------------------------------

[参考] pandas記法

df2 =df2.drop('name',axis=1)
print(df2.groupby('class').max())
print(df2.groupby('class').min())
print(df2.groupby('class').mean())


shape: (2, 4)
┌───────┬─────────┬─────────────┬─────────┐
│ class ┆ English ┆ Mathematics ┆ History │
│ ---   ┆ ---     ┆ ---         ┆ ---     │
│ i64   ┆ i64     ┆ i64         ┆ i64     │
╞═══════╪═════════╪═════════════╪═════════╡
│ 2     ┆ 93      ┆ 82          ┆ 96      │
│ 1     ┆ 100     ┆ 100         ┆ 83      │
└───────┴─────────┴─────────────┴─────────┘
shape: (2, 4)
┌───────┬─────────┬─────────────┬─────────┐
│ class ┆ English ┆ Mathematics ┆ History │
│ ---   ┆ ---     ┆ ---         ┆ ---     │
│ i64   ┆ i64     ┆ i64         ┆ i64     │
╞═══════╪═════════╪═════════════╪═════════╡
│ 1     ┆ 40      ┆ 55          ┆ 52      │
│ 2     ┆ 65      ┆ 52          ┆ 79      │
└───────┴─────────┴─────────────┴─────────┘
shape: (2, 4)
┌───────┬───────────┬─────────────┬─────────┐
│ class ┆ English   ┆ Mathematics ┆ History │
│ ---   ┆ ---       ┆ ---         ┆ ---     │
│ i64   ┆ f64       ┆ f64         ┆ f64     │
╞═══════╪═══════════╪═════════════╪═════════╡
│ 2     ┆ 76.75     ┆ 68.0        ┆ 87.75   │
│ 1     ┆ 61.666667 ┆ 77.666667   ┆ 70.5    │
└───────┴───────────┴─────────────┴─────────┘

In [ ]:
# 【80】
# df2においてclassでグルーピングし、aggを用いて
# 各科目の平均、最大値、最小値を求める
# なお、各科目の平均、最大値、最小値には
# 「***_mean」のようにsuffixを振ること
print(ans[80]) #解答表示
df2 = initialize2() #初期化

df2.drop_in_place('name')
df2.groupby(['class']).agg(
    [
        pl.mean("*").suffix("_mean"),
        pl.max("*").suffix("_max"),
        pl.min("*").suffix("_min"),
    ]
)

[answer80]

df2.drop_in_place('name')
df2.groupby(['class']).agg(
    [
        pl.mean("*").suffix("_mean"),
        pl.max("*").suffix("_max"),
        pl.min("*").suffix("_min"),
    ]
)


----------------------------------------------

[Tips]
・groupby(['列名']).agg()でエクスプレッションリストを渡します
・解答の場合、class列でグルーピングした後に、すべての列に対して
　mean、max、minの処理をしている。
・処理結果の列には接尾語として「_mean」、「_max」、「_min」を
　振っている

----------------------------------------------

[参考] pandas記法

df2.drop(['name'],axis=1, inplace=True)
pd.concat([df2.groupby('class').mean().add_suffix('_mean'),
           df2.groupby('class').mean().add_suffix('_max'),
           df2.groupby('class').mean().add_suffix('_min')],
          axis=1
         )

shape: (2, 10)
┌───────┬──────────────┬────────────────┬──────────────┬─────┬─────────────┬─────────────┬───────────────┬─────────────┐
│ class ┆ English_mean ┆ Mathematics_me ┆ History_mean ┆ ... ┆ History_max ┆ English_min ┆ Mathematics_m ┆ History_min │
│ ---   ┆ ---          ┆ an             ┆ ---          ┆     ┆ ---         ┆ ---         ┆ in            ┆ ---         │
│ i64   ┆ f64          ┆ ---            ┆ f64          ┆     ┆ i64         ┆ i64         ┆ ---           ┆ i64         │
│       ┆              ┆ f64            ┆              ┆     ┆             ┆             ┆ i64           ┆             │
╞═══════╪══════════════╪════════════════╪══════════════╪═════╪═════════════╪═════════════╪═══════════════╪═════════════╡
│ 2     ┆ 76.75        ┆ 68.0           ┆ 87.75        ┆ ... ┆ 96          ┆ 65          ┆ 52            ┆ 79          │
│ 1     ┆ 61.666667    ┆ 77.666667      ┆ 70.5         ┆ ... ┆ 83          ┆ 40          ┆ 55            ┆ 52          │
└───────┴──────────────┴────────────────┴──────────────┴─────┴─────────────┴─────────────┴───────────────┴─────────────┘

In [ ]:
# 【81】
# dfの各列間の(Pearson)相関係数を確認
print(ans[81]) #解答表示
df = initialize1() #初期化

df.select(pl.all().exclude(pl.Utf8)).pearson_corr()

[answer81]

df.select(pl.all().exclude(pl.Utf8)).pearson_corr()


----------------------------------------------

[Tips]
・dataframeの列間の相関係数を確認したい場合は
　pearson_corr()を使用
・dataframeに文字列を含むとエラーになるため、計算前に
　pl.all().exclude(pl.Utf8)で文字列を除外する
・Polarsのpearson_corr()では数値列にnullがひとつでも
　あると計算できないためその列の相関係数はNanになる
　（引数でnullを無視するオプションもない）

----------------------------------------------

[参考] pandas記法

df.corr()

pandasのcorr()では自動で数値列に絞り、相関計算を実施してくれる
また、数値列内のnullは無視して計算をしてくれる

shape: (7, 7)
┌───────────┬───────────┬─────┬───────────┬──────────┬──────┬──────┐
│ pclass    ┆ survived  ┆ age ┆ sibsp     ┆ parch    ┆ fare ┆ body │
│ ---       ┆ ---       ┆ --- ┆ ---       ┆ ---      ┆ ---  ┆ ---  │
│ f64       ┆ f64       ┆ f64 ┆ f64       ┆ f64      ┆ f64  ┆ f64  │
╞═══════════╪═══════════╪═════╪═══════════╪══════════╪══════╪══════╡
│ 1.0       ┆ -0.312469 ┆ NaN ┆ 0.060832  ┆ 0.018322 ┆ NaN  ┆ NaN  │
│ -0.312469 ┆ 1.0       ┆ NaN ┆ -0.027825 ┆ 0.08266  ┆ NaN  ┆ NaN  │
│ NaN       ┆ NaN       ┆ NaN ┆ NaN       ┆ NaN      ┆ NaN  ┆ NaN  │
│ 0.060832  ┆ -0.027825 ┆ NaN ┆ 1.0       ┆ 0.373587 ┆ NaN  ┆ NaN  │
│ 0.018322  ┆ 0.08266   ┆ NaN ┆ 0.373587  ┆ 1.0      ┆ NaN  ┆ NaN  │
│ NaN       ┆ NaN       ┆ NaN ┆ NaN       ┆ NaN      ┆ NaN  ┆ NaN  │
│ NaN       ┆ NaN       ┆ NaN ┆ NaN       ┆ NaN      ┆ NaN  ┆ NaN  │
└───────────┴───────────┴─────┴───────────┴──────────┴──────┴──────┘

In [ ]:
# 【82】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
print(ans[82]) #解答表示
df2 = initialize2() #初期化


from sklearn.preprocessing import StandardScaler

df2 = df2.drop(['name', 'class'])

#標準化を定義
scaler = StandardScaler()

#変換とデータフレームへの置換
scaler.fit_transform(df2.to_numpy()) # 変換のみ
df2_std = pl.DataFrame(scaler.fit_transform(df2.to_numpy()), columns=df2.columns) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #stdが等しくなっていることを確認

[answer82]

from sklearn.preprocessing import StandardScaler

df2 = df2.drop(['name', 'class'])

#標準化を定義
scaler = StandardScaler()

#変換とデータフレームへの置換
scaler.fit_transform(df2.to_numpy()) # 変換のみ
df2_std = pl.DataFrame(scaler.fit_transform(df2.to_numpy()), columns=df2.columns) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #stdが等しくなっていることを確認


----------------------------------------------

[Tips]
・データフレームを標準化する場合は、scikit-learnの
　StandardScalerを使用
・it_transform(df2.to_numpy())のようにdataframeをto_numpy()で
　ndarray形式に変換しないと計算結果がおかしくなるので注意

----------------------------------------------

[参考] pandas記法

from sklearn.preprocessing import StandardScaler

df2 = df2.drop(['name','class'],axis=1) #不要列の削除

#標準化を定義
scaler = StandardScaler()
scaler.fit(df2)

#変換とデータフレームへの置換
scaler.transform(df2) # 変換のみ
df2_std = pd.DataFrame(scaler.transform(df2), columns=df2.columns) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #stdが等しくなっていることを確認

shape: (7, 4)
┌────────────┬─────────────┬─────────────┬─────────────┐
│ describe   ┆ English     ┆ Mathematics ┆ History     │
│ ---        ┆ ---         ┆ ---         ┆ ---         │
│ str        ┆ f64         ┆ f64         ┆ f64         │
╞════════════╪═════════════╪═════════════╪═════════════╡
│ count      ┆ 10.0        ┆ 10.0        ┆ 10.0        │
│ null_count ┆ 0.0         ┆ 0.0         ┆ 0.0         │
│ mean       ┆ -1.9984e-16 ┆ 1.6653e-16  ┆ -4.4409e-16 │
│ std        ┆ 1.054093    ┆ 1.054093    ┆ 1.054093    │
│ min        ┆ -1.42171    ┆ -1.332741   ┆ -1.981957   │
│ max        ┆ 1.657806    ┆ 1.601735    ┆ 1.451354    │
│ median     ┆ 0.066723    ┆ -0.293448   ┆ 0.202877    │
└────────────┴─────────────┴─────────────┴─────────────┘

In [ ]:
# 【83】
# scikit-learnを用いてdf2のEnglish列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
print(ans[83]) #解答表示
df2 = initialize2() #初期化

from sklearn.preprocessing import StandardScaler

#標準化を定義
scaler = StandardScaler()
scaler.fit(df2.select(pl.col('English')).to_numpy().reshape(-1,1))

#変換とデータフレームへの置換
scaler.transform(df2['English'].to_numpy().reshape(-1,1)) # 変換のみ
df2_std = pl.DataFrame(scaler.transform(df2['English'].to_numpy().reshape(-1,1))) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #stdが【74】のEnglishと等しくなっていることを確認

[answer83]

from sklearn.preprocessing import StandardScaler

#標準化を定義
scaler = StandardScaler()
scaler.fit(df2.select(pl.col('English')).to_numpy().reshape(-1,1))

#変換とデータフレームへの置換
scaler.transform(df2['English'].to_numpy().reshape(-1,1)) # 変換のみ
df2_std = pl.DataFrame(scaler.transform(df2['English'].to_numpy().reshape(-1,1))) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #stdが【74】のEnglishと等しくなっていることを確認


----------------------------------------------

[Tips]
・dataframeのひとつの列を標準化する場合は、
　values.reshape(-1,1)で配列変換してやる方法もある
・reshape(-1,1)でn行1列に変換

----------------------------------------------

[参考] pandas記法

from sklearn.preprocessing import StandardScaler

#標準化を定義
scaler = StandardScaler()
scaler.fit(df2['English'].values.reshape(-1,1))

#変換とデータフレームへの置換
scaler.transform(df2['English'].values.reshape(-1,1)) # 変換のみ
df2_std = pd.DataFrame(scaler.transform(df2['English'].values.reshape(-1,1))) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #stdが【74】のEnglishと等しくなっていることを確認

shape: (7, 2)
┌────────────┬─────────────┐
│ describe   ┆ column_0    │
│ ---        ┆ ---         │
│ str        ┆ f64         │
╞════════════╪═════════════╡
│ count      ┆ 10.0        │
│ null_count ┆ 0.0         │
│ mean       ┆ -1.7764e-16 │
│ std        ┆ 1.054093    │
│ min        ┆ -1.42171    │
│ max        ┆ 1.657806    │
│ median     ┆ 0.066723    │
└────────────┴─────────────┘

In [ ]:
# 【84】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を
# Min-Maxスケーリングする
# (from sklearn.preprocessing import MinMaxScalerをインポート)
print(ans[84]) #解答表示
df2 = initialize2() #初期化


from sklearn.preprocessing import MinMaxScaler

df2 = df2.drop(['name','class']) #不要列の削除

# Min-Maxスケーリングを定義
scaler = MinMaxScaler()

# 変換とデータフレームへの置換
scaler.fit_transform(df2.to_numpy()) # 変換のみ
df2_std = pl.DataFrame(scaler.fit_transform(df2.to_numpy()), columns=df2.columns) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #minが0、maxが1になっていることを確認

[answer84]

from sklearn.preprocessing import MinMaxScaler

df2 = df2.drop(['name','class']) #不要列の削除

# Min-Maxスケーリングを定義
scaler = MinMaxScaler()

# 変換とデータフレームへの置換
scaler.fit_transform(df2.to_numpy()) # 変換のみ
df2_std = pl.DataFrame(scaler.fit_transform(df2.to_numpy()), columns=df2.columns) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #minが0、maxが1になっていることを確認


----------------------------------------------

[Tips]
・データフレームをMin-Maxスケーリングする場合は、scikit-learnの
　StandardScalerを使用
・Min-Maxスケーリングでは最小値が0、最大値が1となるように
　データを変換する
・fit_transform(df2.to_numpy())のようにdataframeをto_numpy()で
　ndarray形式に変換しないと計算結果がおかしくなるので注意


----------------------------------------------

[参考] pandas記法

from sklearn.preprocessing import MinMaxScaler

df2 = df2.drop(['name','class'],axis=1) #不要列の削除

# Min-Maxスケーリングを定義
scaler = MinMaxScaler()
scaler.fit(df2)

# 変換とデータフレームへの置換
scaler.transform(df2) # 変換のみ
df2_std = pd.DataFrame(scaler.transform(df2), columns=df2.columns) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #minが0、maxが1になっていることを確認

shape: (7, 4)
┌────────────┬──────────┬─────────────┬──────────┐
│ describe   ┆ English  ┆ Mathematics ┆ History  │
│ ---        ┆ ---      ┆ ---         ┆ ---      │
│ str        ┆ f64      ┆ f64         ┆ f64      │
╞════════════╪══════════╪═════════════╪══════════╡
│ count      ┆ 10.0     ┆ 10.0        ┆ 10.0     │
│ null_count ┆ 0.0      ┆ 0.0         ┆ 0.0      │
│ mean       ┆ 0.461667 ┆ 0.454167    ┆ 0.577273 │
│ std        ┆ 0.342292 ┆ 0.35921     ┆ 0.307019 │
│ min        ┆ 0.0      ┆ 0.0         ┆ 0.0      │
│ max        ┆ 1.0      ┆ 1.0         ┆ 1.0      │
│ median     ┆ 0.483333 ┆ 0.354167    ┆ 0.636364 │
└────────────┴──────────┴─────────────┴──────────┘

In [ ]:
# 【85】
# dfのfare列の最大値、最小値の行名を取得
print(ans[85]) #解答表示
df = initialize1() #初期化

df = df.with_row_count()

display(df.filter(pl.col('fare') == pl.col('fare').max()))
display(df.filter(pl.col('fare') == pl.col('fare').min()))

[answer85]

df = df.with_row_count()

display(df.filter(pl.col('fare') == pl.col('fare').max()))
display(df.filter(pl.col('fare') == pl.col('fare').min()))

※ print出力よりもdisplay出力のほうが見やすかったためここでは
　 displayを使っています

----------------------------------------------

[Tips]
特になし

----------------------------------------------

[参考] pandas記法

print(df['fare'].idxmax())
print(df['fare'].idxmin())

shape: (4, 15)
┌────────┬────────┬──────────┬─────────────────────────────┬─────┬──────────┬──────┬──────┬────────────────────────────┐
│ row_nr ┆ pclass ┆ survived ┆ name                        ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest                  │
│ ---    ┆ ---    ┆ ---      ┆ ---                         ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                        │
│ u32    ┆ i64    ┆ i64      ┆ str                         ┆     ┆ str      ┆ str  ┆ i64  ┆ str                        │
╞════════╪════════╪══════════╪═════════════════════════════╪═════╪══════════╪══════╪══════╪════════════════════════════╡
│ 49     ┆ 1      ┆ 1        ┆ Cardeza, Mr. Thomas Drake   ┆ ... ┆ C        ┆ 3    ┆ null ┆ Austria-Hungary /          │
│        ┆        ┆          ┆ Martin...                   ┆     ┆          ┆      ┆      ┆ Germantown, Ph...          │
│ 50     ┆ 1      ┆ 1        ┆ Cardeza, Mrs. James         ┆ ... ┆ C        ┆ 3    ┆ null ┆ Germantown, Philadelphia,  │
│        ┆        ┆          ┆ Warburton Ma...             ┆     ┆          ┆      ┆      ┆ PA                         │
│ 183    ┆ 1      ┆ 1        ┆ Lesurer, Mr. Gustave J      ┆ ... ┆ C        ┆ 3    ┆ null ┆ null                       │
│ 302    ┆ 1      ┆ 1        ┆ Ward, Miss. Anna            ┆ ... ┆ C        ┆ 3    ┆ null ┆ null                       │
└────────┴────────┴──────────┴─────────────────────────────┴─────┴──────────┴──────┴──────┴────────────────────────────┘

shape: (17, 15)
┌────────┬────────┬──────────┬────────────────────────┬─────┬──────────┬──────┬──────┬──────────────────────────────┐
│ row_nr ┆ pclass ┆ survived ┆ name                   ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest                    │
│ ---    ┆ ---    ┆ ---      ┆ ---                    ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                          │
│ u32    ┆ i64    ┆ i64      ┆ str                    ┆     ┆ str      ┆ str  ┆ i64  ┆ str                          │
╞════════╪════════╪══════════╪════════════════════════╪═════╪══════════╪══════╪══════╪══════════════════════════════╡
│ 7      ┆ 1      ┆ 0        ┆ Andrews, Mr. Thomas Jr ┆ ... ┆ S        ┆ null ┆ null ┆ Belfast, NI                  │
│ 70     ┆ 1      ┆ 0        ┆ Chisholm, Mr. Roderick ┆ ... ┆ S        ┆ null ┆ null ┆ Liverpool, England / Belfast │
│        ┆        ┆          ┆ Robert Cr...           ┆     ┆          ┆      ┆      ┆                              │
│ 125    ┆ 1      ┆ 0        ┆ Fry, Mr. Richard       ┆ ... ┆ S        ┆ null ┆ null ┆ null                         │
│ 150    ┆ 1      ┆ 0        ┆ Harrison, Mr. William  ┆ ... ┆ S        ┆ null ┆ 110  ┆ null                         │
│ ...    ┆ ...    ┆ ...      ┆ ...                    ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...                          │
│ 896    ┆ 3      ┆ 0        ┆ Johnson, Mr. Alfred    ┆ ... ┆ S        ┆ null ┆ null ┆ null                         │
│ 898    ┆ 3      ┆ 0        ┆ Johnson, Mr. William   ┆ ... ┆ S        ┆ null ┆ null ┆ null                         │
│        ┆        ┆          ┆ Cahoone Jr             ┆     ┆          ┆      ┆      ┆                              │
│ 963    ┆ 3      ┆ 0        ┆ Leonard, Mr. Lionel    ┆ ... ┆ S        ┆ null ┆ null ┆ null                         │
│ 1254   ┆ 3      ┆ 1        ┆ Tornquist, Mr. William ┆ ... ┆ S        ┆ 15   ┆ null ┆ null                         │
│        ┆        ┆          ┆ Henry                  ┆     ┆          ┆      ┆      ┆                              │
└────────┴────────┴──────────┴────────────────────────┴─────┴──────────┴──────┴──────┴──────────────────────────────┘

In [ ]:
# 【86】
# dfのfare列の0、25、50、75、100パーセンタイルを取得
print(ans[86]) #解答表示
df = initialize1() #初期化

q_list = [0, 0.25, 0.5, 0.75, 1.0]

for n in q_list:
    print(df.select(pl.col('fare').quantile(n)))

[answer86]

q_list = [0, 0.25, 0.5, 0.75, 1.0]

for n in q_list:
    print(df.select(pl.col('fare').quantile(n)))


----------------------------------------------

[Tips]
・パーセンタイルを取得する場合は quantile()を使用
・50パーセンタイル=中央値、0パーセンタイル=最小値、
　100パーセンタイル=最大値


----------------------------------------------

[参考] pandas記法


print(df['fare'].quantile([0, 0.25, 0.5, 0.75, 1.0]))


shape: (1, 1)
┌──────┐
│ fare │
│ ---  │
│ f64  │
╞══════╡
│ 0.0  │
└──────┘
shape: (1, 1)
┌────────┐
│ fare   │
│ ---    │
│ f64    │
╞════════╡
│ 7.8958 │
└────────┘
shape: (1, 1)
┌─────────┐
│ fare    │
│ ---     │
│ f64     │
╞═════════╡
│ 14.4542 │
└─────────┘
shape: (1, 1)
┌────────┐
│ fare   │
│ ---    │
│ f64    │
╞════════╡
│ 31.275 │
└────────┘
shape: (1, 1)
┌──────────┐
│ fare     │
│ ---      │
│ f64      │
╞══════════╡
│ 512.3292 │
└──────────┘

In [ ]:
# 【87】
# ①dfのage列の最頻値を取得
# ②value_counts()にてage列の要素数を
# 確認し、①の結果の妥当性を確認
print(ans[87]) #解答表示
df = initialize1() #初期化

print(df.filter(~pl.col('age').is_null()).select(pl.col('age').cast(pl.Utf8).mode()))
print(df.select(pl.col('age').value_counts()))

[answer87]

print(df.filter(~pl.col('age').is_null()).select(pl.col('age').cast(pl.Utf8).mode()))
print(df.select(pl.col('age').value_counts()))


----------------------------------------------

[Tips]
・最頻値を取得する場合は mode()を使用
・pandasのmode()と違い文字列のみに適用可能。数値列に適用したい場合は
　文字列型に変換する必要あり
・age列はnullが多くnull込みで最頻値を求めると、nullが最頻値になってしまうため
　filter(~pl.col('age').is_null())でnullを除外している

----------------------------------------------

[参考] pandas記法

print(df['age'].mode())
print(df['age'].value_counts())


shape: (1, 1)
┌──────┐
│ age  │
│ ---  │
│ str  │
╞══════╡
│ 24.0 │
└──────┘
shape: (99, 1)
┌───────────┐
│ age       │
│ ---       │
│ struct[2] │
╞═══════════╡
│ {55.0,8}  │
│ {7.0,4}   │
│ {10.0,4}  │
│ {35.0,23} │
│ ...       │
│ {34.0,16} │
│ {0.67,1}  │
│ {70.5,1}  │
│ {36.0,31} │
└───────────┘

# ラベリング (80 - 81)

In [ ]:
# 【88】
# dfのsex列をラベルエンコーディングし、
# dfの先頭5行を表示
# (from sklearn.preprocessing import LabelEncoderをインポート)
print(ans[88]) #解答表示
df = initialize1() #初期化

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成
sex = df.select(pl.col('sex')).to_numpy()
labels = le.fit_transform(sex)
df = df.with_column(pl.Series(labels).alias("sex"))
df.head()

[answer88]

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成
sex = df.select(pl.col('sex')).to_numpy()
labels = le.fit_transform(sex)
df = df.with_column(pl.Series(labels).alias("sex"))
df.head()


----------------------------------------------

[Tips]
・pyarrowをpip installしていないとエンコーディング後の値が
　おかしくなるので注意する。

　（参考）polarsでLabelEncoderを使おうとしたら詰まった話
　https://zenn.dev/gamera/articles/cd0f49c8ae74f6?utm_source=pocket_saves

・機械学習では文字列をそのまま、学習アルゴリズムに
　入力できないため、数値に変換する。LabelEncoder()では
　例えば、以下のように文字列を数値に変換する。

　male → 0
　female → 1

・RandomForestなど決定木での分類問題を
　解く場合には、ラベルエンコーディングする
　ことが多い

----------------------------------------------

[参考] pandas記法

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成

df['sex'] = le.fit_transform(df['sex']) #エンコーディング
df.head()

C:\Users\owner\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

shape: (5, 14)
┌────────┬──────────┬──────────────────────────────┬─────┬─────┬──────────┬──────┬──────┬──────────────────────────────┐
│ pclass ┆ survived ┆ name                         ┆ sex ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest                    │
│ ---    ┆ ---      ┆ ---                          ┆ --- ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                          │
│ i64    ┆ i64      ┆ str                          ┆ i32 ┆     ┆ str      ┆ str  ┆ i64  ┆ str                          │
╞════════╪══════════╪══════════════════════════════╪═════╪═════╪══════════╪══════╪══════╪══════════════════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth       ┆ 0   ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis, MO                 │
│        ┆          ┆ Walton                       ┆     ┆     ┆          ┆      ┆      ┆                              │
│ 1      ┆ 1        ┆ Allison, Master. Hudson      ┆ 1   ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ Trevor                       ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine ┆ 0   ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆                              ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua   ┆ 1   ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ Creig...                     ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C     ┆ 0   ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ (Bessie...                   ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
└────────┴──────────┴──────────────────────────────┴─────┴─────┴──────────┴──────┴──────┴──────────────────────────────┘

In [ ]:
# 【89】
# dfのsex列をOne-hotエンコーディングし、
# dfの先頭5行を表示
print(ans[89]) #解答表示
df = initialize1() #初期化

df = pl.concat([df.drop('sex'), df.select(pl.col('sex')).to_dummies()], how='horizontal')
df.head()

[answer89]

df = pl.concat([df.drop('sex'), df.select(pl.col('sex')).to_dummies()], how='horizontal')
df.head()


----------------------------------------------

[Tips]
・機械学習では文字列をそのまま、学習アルゴリズムに
　入力できないため、数値に変換する。to_dummies()では
　One-Hotエンコーディングが可能
・回帰問題を解く場合には、One-hotエンコーディングする
　ことが多い

----------------------------------------------

[参考] pandas記法

df = pd.get_dummies(df, columns=['sex'])
df.head()

shape: (5, 15)
┌────────┬──────────┬────────────────────────────────┬──────┬─────┬──────┬──────────────────┬────────────┬──────────┐
│ pclass ┆ survived ┆ name                           ┆ age  ┆ ... ┆ body ┆ home.dest        ┆ sex_female ┆ sex_male │
│ ---    ┆ ---      ┆ ---                            ┆ ---  ┆     ┆ ---  ┆ ---              ┆ ---        ┆ ---      │
│ i64    ┆ i64      ┆ str                            ┆ f64  ┆     ┆ i64  ┆ str              ┆ u8         ┆ u8       │
╞════════╪══════════╪════════════════════════════════╪══════╪═════╪══════╪══════════════════╪════════════╪══════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth Walton  ┆ 29.0 ┆ ... ┆ null ┆ St Louis, MO     ┆ 1          ┆ 0        │
│ 1      ┆ 1        ┆ Allison, Master. Hudson Trevor ┆ 0.92 ┆ ... ┆ null ┆ Montreal, PQ /   ┆ 0          ┆ 1        │
│        ┆          ┆                                ┆      ┆     ┆      ┆ Chesterville, ON ┆            ┆          │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine   ┆ 2.0  ┆ ... ┆ null ┆ Montreal, PQ /   ┆ 1          ┆ 0        │
│        ┆          ┆                                ┆      ┆     ┆      ┆ Chesterville, ON ┆            ┆          │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua     ┆ 30.0 ┆ ... ┆ 135  ┆ Montreal, PQ /   ┆ 0          ┆ 1        │
│        ┆          ┆ Creig...                       ┆      ┆     ┆      ┆ Chesterville, ON ┆            ┆          │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C       ┆ 25.0 ┆ ... ┆ null ┆ Montreal, PQ /   ┆ 1          ┆ 0        │
│        ┆          ┆ (Bessie...                     ┆      ┆     ┆      ┆ Chesterville, ON ┆            ┆          │
└────────┴──────────┴────────────────────────────────┴──────┴─────┴──────┴──────────────────┴────────────┴──────────┘

# タイタニック号の生存者予測 (90 - 100)  
これまで触れてきたタイタニック号の乗客データを使用して、乗客の生存有無を  
予測してみます。  
  
※90～100については順番通りにやらないと上手く動作しません

In [ ]:
# 【90】ラベルエンコーディング
# df_copyのsexとembarked列をラベルエンコーディング
# (from sklearn.preprocessing import LabelEncoderをインポート)
# (df_copyはdfをコピーしたもの)
print(ans[90]) #解答表示
df = initialize1() #初期化
df_copy =df.clone()

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成

sex = df_copy.select(pl.col('sex')).to_numpy()
embarked = df_copy.select(pl.col('embarked')).to_numpy()

label_sex = le.fit_transform(sex)
label_embarked = le.fit_transform(embarked)

df_copy = df_copy.with_columns([pl.Series(label_sex).alias("sex"), pl.Series(label_embarked).alias("embarked")])
df_copy.head()

[answer90]

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成
sex = df_copy.select(pl.col('sex')).to_numpy()
embarked = df_copy.select(pl.col('embarked')).to_numpy()
label_sex = le.fit_transform(sex)
label_embarked = le.fit_transform(embarked)
df_copy = df_copy.with_columns([pl.Series(label_sex).alias("sex"), pl.Series(label_embarked).alias("embarked")])
df_copy.head()


----------------------------------------------

[Tips]
・機械学習では文字列をそのまま、学習アルゴリズムに
　入力できないため、数値に変換する。LabelEncoder()では
　例えば、以下のように文字列を数値に変換する。

　male → 0
　female → 1

・RandomForestなど決定木での分類問題を
　解く場合には、ラベルエンコーディングする
　ことが多い

----------------------------------------------

[参考] pandas記法

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成

df_copy['sex'] = le.fit_transform(df_copy['sex']) #エンコーディング
df_copy['embarked'] = le.fit_transform(df_copy['embarked'].astype(str))  #ここ、なぜかstrに変換しないとエラー発生
df_copy.head()

shape: (5, 14)
┌────────┬──────────┬──────────────────────────────┬─────┬─────┬──────────┬──────┬──────┬──────────────────────────────┐
│ pclass ┆ survived ┆ name                         ┆ sex ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest                    │
│ ---    ┆ ---      ┆ ---                          ┆ --- ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                          │
│ i64    ┆ i64      ┆ str                          ┆ i32 ┆     ┆ i32      ┆ str  ┆ i64  ┆ str                          │
╞════════╪══════════╪══════════════════════════════╪═════╪═════╪══════════╪══════╪══════╪══════════════════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth       ┆ 0   ┆ ... ┆ 2        ┆ 2    ┆ null ┆ St Louis, MO                 │
│        ┆          ┆ Walton                       ┆     ┆     ┆          ┆      ┆      ┆                              │
│ 1      ┆ 1        ┆ Allison, Master. Hudson      ┆ 1   ┆ ... ┆ 2        ┆ 11   ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ Trevor                       ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine ┆ 0   ┆ ... ┆ 2        ┆ null ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆                              ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua   ┆ 1   ┆ ... ┆ 2        ┆ null ┆ 135  ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ Creig...                     ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C     ┆ 0   ┆ ... ┆ 2        ┆ null ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ (Bessie...                   ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
└────────┴──────────┴──────────────────────────────┴─────┴─────┴──────────┴──────┴──────┴──────────────────────────────┘

In [ ]:
# 【91】欠損値確認
# df_copyの欠損値を確認
print(ans[91]) #解答表示

display(df_copy.null_count())

[answer91]

print(df_copy.null_count())


----------------------------------------------

[Tips]
・null_coount()で欠損値数を確認

----------------------------------------------

[参考] pandas記法

df_copy.isnull().sum()

shape: (1, 14)
┌────────┬──────────┬──────┬─────┬─────┬──────────┬──────┬──────┬───────────┐
│ pclass ┆ survived ┆ name ┆ sex ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest │
│ ---    ┆ ---      ┆ ---  ┆ --- ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---       │
│ u32    ┆ u32      ┆ u32  ┆ u32 ┆     ┆ u32      ┆ u32  ┆ u32  ┆ u32       │
╞════════╪══════════╪══════╪═════╪═════╪══════════╪══════╪══════╪═══════════╡
│ 0      ┆ 0        ┆ 0    ┆ 0   ┆ ... ┆ 0        ┆ 823  ┆ 1188 ┆ 564       │
└────────┴──────────┴──────┴─────┴─────┴──────────┴──────┴──────┴───────────┘

In [ ]:
# 【92】欠損値補完
# df_copyのage、fare列の欠損値を各列の平均値で補完
print(ans[92]) #解答表示

df_copy = df_copy.with_columns([pl.col('age').fill_null(pl.col('age').mean())])
df_copy = df_copy.with_columns([pl.col('fare').fill_null(pl.col('fare').mean())])
df_copy.null_count()

[answer92]

df_copy = df_copy.with_columns([pl.col('age').fill_null(pl.col('age').mean())])
df_copy = df_copy.with_columns([pl.col('fare').fill_null(pl.col('fare').mean())])
df_copy.null_count()


----------------------------------------------

[Tips]
欠損値の補完にはfill_nullを使用

----------------------------------------------

[参考] pandas記法

df_copy['age'] = df_copy['age'].fillna(df_copy['age'].mean()) #欠損値にageの平均値で補完
df_copy['fare'] = df_copy['fare'].fillna(df_copy['fare'].mean()) #欠損値にfareの平均値で補完
print(df_copy.isnull().sum())

shape: (1, 14)
┌────────┬──────────┬──────┬─────┬─────┬──────────┬──────┬──────┬───────────┐
│ pclass ┆ survived ┆ name ┆ sex ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest │
│ ---    ┆ ---      ┆ ---  ┆ --- ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---       │
│ u32    ┆ u32      ┆ u32  ┆ u32 ┆     ┆ u32      ┆ u32  ┆ u32  ┆ u32       │
╞════════╪══════════╪══════╪═════╪═════╪══════════╪══════╪══════╪═══════════╡
│ 0      ┆ 0        ┆ 0    ┆ 0   ┆ ... ┆ 0        ┆ 823  ┆ 1188 ┆ 564       │
└────────┴──────────┴──────┴─────┴─────┴──────────┴──────┴──────┴───────────┘

In [ ]:
# 【93】不要列の削除
# df_copyの中で機械学習で使用しない不要な行を削除
# (name, ticket, cabin, boat, body, home.destを削除)
print(ans[93]) #解答表示

df_copy.drop(['name', 'ticket', 'cabin', 'boat', 'body', 'home.dest'])
df_copy.head()

[answer93]

df_copy = df_copy.drop(['name', 'ticket', 'cabin', 'boat', 'body', 'home.dest'])
df_copy.head()


----------------------------------------------

[Tips]
・列の削除をするにはdropを使用
・drop_in_place()が複数列の削除に対応していないため、
　ここではdropを使用している

----------------------------------------------

[参考] pandas記法

df_copy = df_copy.drop(['name', 'ticket', 'cabin', 'boat', 'body', 'home.dest'],axis=1)
df_copy

shape: (5, 14)
┌────────┬──────────┬──────────────────────────────┬─────┬─────┬──────────┬──────┬──────┬──────────────────────────────┐
│ pclass ┆ survived ┆ name                         ┆ sex ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest                    │
│ ---    ┆ ---      ┆ ---                          ┆ --- ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                          │
│ i64    ┆ i64      ┆ str                          ┆ i32 ┆     ┆ i32      ┆ str  ┆ i64  ┆ str                          │
╞════════╪══════════╪══════════════════════════════╪═════╪═════╪══════════╪══════╪══════╪══════════════════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth       ┆ 0   ┆ ... ┆ 2        ┆ 2    ┆ null ┆ St Louis, MO                 │
│        ┆          ┆ Walton                       ┆     ┆     ┆          ┆      ┆      ┆                              │
│ 1      ┆ 1        ┆ Allison, Master. Hudson      ┆ 1   ┆ ... ┆ 2        ┆ 11   ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ Trevor                       ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Miss. Helen Loraine ┆ 0   ┆ ... ┆ 2        ┆ null ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆                              ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua   ┆ 1   ┆ ... ┆ 2        ┆ null ┆ 135  ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ Creig...                     ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C     ┆ 0   ┆ ... ┆ 2        ┆ null ┆ null ┆ Montreal, PQ / Chesterville, │
│        ┆          ┆ (Bessie...                   ┆     ┆     ┆          ┆      ┆      ┆ ON                           │
└────────┴──────────┴──────────────────────────────┴─────┴─────┴──────────┴──────┴──────┴──────────────────────────────┘

In [ ]:
# 【94】ndarray形式への変換
# ①df_copyのpclass、age、sex、fare、embarkedの列を抽出し、ndarray形式に変換
# ②df_copyのsurvivedの列を抽出し、ndarray形式に変換
# (①をfeatures、②をtargetという変数にそれぞれ格納)
print(ans[94]) #解答表示

features = df_copy.select(['pclass','age','sex','fare','embarked']).to_numpy()
target = df_copy.select('survived').to_numpy()

[answer94]

features = df_copy.select(['pclass','age','sex','fare','embarked']).to_numpy()
target = df_copy.select('survived').to_numpy()


----------------------------------------------

[Tips]
・pandas.dataframeやpandas.Seriesをndarray形式(配列)に
　変換するにはto_numpy()を使用
・機械学習ライブラリのscikit-learnではndarray形式で入力する
　必要があるため、そのような際にdataframeをndarray形式に変換する

----------------------------------------------

[参考] pandas記法

features = df_copy[['pclass','age','sex','fare','embarked']].values
target = df_copy['survived'].values

In [ ]:
# 【95】学習データとテストデータに分割
# 【94】で作成したfeatrues、targetを学習データとテストデータに分割
# (from sklearn.model_selection import  train_test_splitをインポート)
# ※分割時のパラメータは次を指定 test_size=0.3 random_state=0
print(ans[95]) #解答表示

from sklearn.model_selection import train_test_split

(features , test_X , target , test_y) = train_test_split(features, target , test_size = 0.3 , random_state = 0)

[answer95]

from sklearn.model_selection import train_test_split

(features , test_X , target , test_y) = train_test_split(features, target , test_size = 0.3 , random_state = 0)


----------------------------------------------

[Tips]
・データを学習データ、テストデータに分割する場合は train_test_splitを使用
・test_sizeで分割する割合を指定
・random_stateでシード値を指定することでデータ分割時の乱数を固定
（検証で乱数を固定したい時に使用）

----------------------------------------------

[参考] pandas記法

Polarsの解答と同じ

In [ ]:
# 【96】学習の実行
# 学習データ(features、target)を用いランダムフォレストにて学習を実行
# (from sklearn.ensemble import RandomForestClassifierをインポート)
# ※パラメータは次を指定 n_estimators=100 random_state=0
#print(ans[96]) #解答表示

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100,random_state=0) # ランダムフォレストのインスタンスを作成

model.fit(features,target) # 学習の実行

C:\Users\owner\anaconda3\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

RandomForestClassifier(random_state=0)

In [ ]:
# 【97】予測の実行
# test_Xデータの乗客の生存を予測
#print(ans[97]) #解答表示

pred = model.predict(test_X)
pred

array([0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1],
      dtype=int64)

In [ ]:
# 【98】予測精度の確認
# 予測結果がtest_y(生存有無の答え)とどれぐらい
# 整合していたかを確認(評価指標はaccuracy)
# (from sklearn.metrics import accuracy_scoreをインポート)
#print(ans[98]) #解答表示

from sklearn.metrics import accuracy_score

accuracy_score(pred,test_y)

0.7888040712468194

In [ ]:
# 【99】重要度の確認
# 学習における各列(特徴量)の
# 重要度を表示
#print(ans[99]) #解答表示

importance = model.feature_importances_ 

print('Feature Importances:')
for i, feat in enumerate(['pclass','age','sex','fare','embarked']):
    print('\t{0:20s} : {1:>.5f}'.format(feat, importance[i]))

Feature Importances:
	pclass               : 0.08893
	age                  : 0.28727
	sex                  : 0.27940
	fare                 : 0.31417
	embarked             : 0.03023

In [ ]:
# 【100】予測結果のcsv出力
# test_Xの予測結果をcsvでoutputフォルダに出力(ファイル名は「submission.csv」)
# (headerは不要)
#print(ans[100]) #解答表示

df_pred = pl.DataFrame(pred)
df_pred.write_csv('../output/submission.csv', has_header=False)

# ノックお疲れ様でした